<template>
  <div class="demo-container">
    <!-- Drawer -->
    <ui-drawer type="modal" nav-id="demo-menu">
      <ui-drawer-header>
        <ui-drawer-title>Phase-2 system supervisor</ui-drawer-title>
        <!-- <ui-drawer-subtitle>Subtitle</ui-drawer-subtitle> -->
      </ui-drawer-header>
      <ui-drawer-content>
        <ui-nav>
          <router-link
            v-for="viewName in this.views"
            :key="viewName"
            :to="{ name: viewName }"
            v-slot="{ href, navigate, isActive }"
            custom
          >
            <ui-nav-item :href="href" :active="isActive" @click="navigate">{{
              viewName
            }}</ui-nav-item>
          </router-link>
        </ui-nav>

        <div class="build-info-footer">
          Built at <a :href="buildJobURL">{{ buildTimestampString }}</a>
          <br />Built from {{ gitRefString }}
        </div>
      </ui-drawer-content>
    </ui-drawer>
    <!-- Content -->
    <div class="demo-content">
      <!-- App bar -->
      <ui-top-app-bar
        fixed
        class="demo-app-bar"
        content-selector=".demo-app-content"
        nav-id="demo-menu"
      >
        {{ this.$route.name }}
      </ui-top-app-bar>
      <!-- App content -->
      <div class="demo-app-content">
        <!-- TEMPORARY DEBUG OUTPUT -->
        <!-- <p>Route: <code>{{this.$route}}</code></p> -->
        <!-- <p>Boards: <code>{{boards}}</code></p> -->
        <!-- Note: This works right now, but in long term it may not make sense to have 'boards' prop defined for some view components -->
        <router-view
          :boards="boards"
          :board-details="boardDetails"
          :crates="crates"
          :links="links"
          @refreshProps="fetchSystemInfo"
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

// import BoardPanel from './views/BoardStatus.vue'

export default {
  name: "App",
  components: {
    // BoardPanel
  },
  created() {
    console.log("App: CALLBACK(created)");
    this.fetchSystemInfo();
    this.timer = setInterval(this.fetchSystemInfo, 30000);
    console.log(process.env.VUE_APP_MYVAR);
  },
  data() {
    return {
      boards: [],
      crates: [],
      links: [],
      boardDetails: {},
      selectedIndex: 0,
      timer: null,
      views: ["Home", "Board status", "Commands", "State machines"],
    };
  },
  computed: {
    buildJobURL() {
      return process.env.VUE_APP_CI_JOB_URL;
    },
    buildTimestampString() {
      return process.env.VUE_APP_CI_JOB_STARTED_AT;
    },
    gitRefString() {
      if (process.env.VUE_APP_CI_COMMIT_TAG !== "") {
        return "tag " + process.env.VUE_APP_CI_COMMIT_TAG;
      } else {
        return "commit " + process.env.VUE_APP_CI_COMMIT_SHORT_SHA;
      }
    },
  },
  methods: {
    cancelAutoUpdate() {
      console.log("App: cancelAutoUpdate");
      clearInterval(this.timer);
    },
    async fetchSystemInfo() {
      console.log("App: fetchSystemInfo");

      let boardList = [];
      let crateList = [];
      let linkList = [];
      let infoMaps = {};

      await axios
        .get("api/boards/")
        .then((res) => {
          boardList = res.data;
        })
        .catch((err) => {
          // TODO: Add pop-up for when cannot contact API server
          console.warn("Could not fetch board list: ", err);
        });

      await axios
        .get("api/crates/")
        .then((res) => {
          crateList = res.data;
        })
        .catch((err) => {
          // TODO: Add pop-up for when cannot contact API server
          console.warn("Could not fetch crate list: ", err);
        });

      await axios
        .get("api/links/")
        .then((res) => {
          linkList = res.data;
        })
        .catch((err) => {
          // TODO: Add pop-up for when cannot contact API server
          console.warn("Could not fetch link list: ", err);
        });

      let promises = [];
      for (const board of boardList) {
        promises.push(
          Promise.all([
            axios.get(
              "/api/board-proxy/" + board.ip + ":" + board.port.toString() + "/"
            ),
            axios.get(
              "/api/board-proxy/" +
                board.ip +
                ":" +
                board.port.toString() +
                "/devices"
            ),
            axios.get(
              "/api/board-proxy/" +
                board.ip +
                ":" +
                board.port.toString() +
                "/commands"
            ),
            axios.get(
              "/api/board-proxy/" +
                board.ip +
                ":" +
                board.port.toString() +
                "/fsms"
            ),
          ])
            .then((results) => {
              infoMaps[board.id] = {
                app: results[0].data,
                devices: results[1].data,
                commands: results[2].data,
                fsms: results[3].data,
              };
            })
            .catch((error) => {
              infoMaps[board.id] = null;
              console.log(error);
            })
        );
      }
      await Promise.all(promises);

      this.boards = boardList;
      this.boardDetails = infoMaps;
      this.crates = crateList;
      this.links = linkList;
    },
  },
  beforeUnmount() {
    console.log("App: CALLBACK(beforeUnmount)");
    this.cancelAutoUpdate();
  },
};
</script>

<style>
body {
  margin: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

aside div.build-info-footer {
  /* Pin to bottom of the page */
  position: fixed;
  bottom: 0;

  margin: 0.6em;
  color: #9e9e9e; /* grey500 */
  text-align: left;
  font-size: 0.6em;
}
</style>
