<template>
  <div style="margin: 20px">
    <h2>
      Board: <code>{{ contextualInfo.id }}</code>
    </h2>
    <p>
      Host: <code>{{ contextualInfo.authority }}</code>
    </p>
    <p>App started at {{ appStartDateTimeString }}</p>
    <p>
      Hardware type:
      <span style="font-variant: small-caps">{{
        dynamicInfo.hardwareType
      }}</span>
    </p>
    <p>Auxiliary device: ...</p>
    <!--<p v-if="dynamicInfo"><ui-icon class="red600">do_not_disturb_on_total_silence</ui-icon>Any actions running?</p>-->
    <p>TIME OF LAST SUCCESSFUL UPDATE</p>
    <ui-table
      :data="versionTableData"
      :thead="versionTableHead"
      :tbody="versionTableBody"
    ></ui-table>
    <ui-button outlined @click="showVersionInfo = true" style="float: right"
      >Show version info</ui-button
    >
  </div>
</template>

<script>
export default {
  name: "board-info-subpanel",
  props: {
    contextualInfo: {
      type: Object,
      required: true,
    },
    dynamicInfo: {
      type: Object,
      required: true,
    },
    devices: {
      type: Object,
      required: true,
    },
    leaseStatus: {
      type: Object,
      required: true,
    },
  },
  computed: {
    appStartDateTimeString() {
      const d = new Date(this.dynamicInfo.startTime * 1000);
      return d.toLocaleString("en-GB", {
        timeZone: "UTC",
        timeZoneName: "short",
        dateStyle: "short",
      });
    },
  },
};
</script>

<style scoped>
p {
  text-align: left;
}

.red600 {
  color: #e53935;
}
</style>
