<template>
  <div class="parameter-form">
    <p v-if="Object.keys(parameters).length === 0">No parameters defined</p>
    <ui-form v-else nowrap item-margin-bottom="16">
      <template #default="{}">
        <template v-for="(paramSpec, paramId) in parameters" :key="paramId">
          <ui-form-field>
            <label class="parameter-label">
              <span class="parameter-id">{{ paramId }}</span>
              <!-- <template v-if="paramSpec.description.length > 0"> -->
              <br />
              <span class="parameter-description">{{
                paramSpec.description
              }}</span>
              <!-- </template> -->
            </label>
            <command-parameter-input
              :type="paramSpec.type"
              :rule="paramSpec.rule"
              v-model="paramValues[paramId]"
              @update:modelValue="emitValue"
            ></command-parameter-input>
          </ui-form-field>
        </template>
      </template>
    </ui-form>
  </div>

  <!-- <p>paramValues: <code>{{ paramValues }}</code></p> -->
</template>

<script>
import CommandParameterInput from "../components/CommandParameterInput.vue";

const kDefaultParamValueMap = {
  bool: false,
  uint16: 0,
  uint32: 0,
  uint64: 0,
  int32: 0,
  int64: 0,
  float: 0.0,
  double: 0.0,
  string: "",
  "vector:bool": [],
  "vector:uint16": [],
  "vector:uint32": [],
  "vector:uint64": [],
  "vector:int32": [],
  "vector:int64": [],
  "vector:float": [],
  "vector:double": [],
  "vector:string": [],
  file: { path: "", type: "", format: "" },
};

export default {
  name: "command-parameter-form",
  components: { CommandParameterInput },
  props: {
    parameters: {
      type: Object,
      required: true,
    },
    constraints: {
      type: Object,
      required: true,
    },
  },
  created() {
    console.log("HOOK: created");
    console.log("parameters:", this.parameters);
    this.paramValues = this.getDefaultParamValues();
    console.log(this.paramValues);
  },
  data() {
    return {
      testLabel: "My test label",
      paramValues: {},
    };
  },
  methods: {
    emitValue() {
      this.$emit("update:modelValue", this.paramValues);
    },
    getDefaultParamValues() {
      let result = {};
      for (const x in this.parameters) {
        if (this.parameters[x].defaultValue == null) {
          result[x] = kDefaultParamValueMap[this.parameters[x].type];
        } else {
          result[x] = this.parameters[x].defaultValue;
        }
      }
      return result;
    },
  },
  mounted() {
    this.emitValue();
  },
  beforeUpdate() {
    console.log("commands-parameter-form: CALLBACK(beforeUpdate)");
  },
  update() {
    console.log("commands-parameter-form: CALLBACK(update)");
  },
};
</script>

<style>
.parameter-form {
  margin-left: 30px;
}

.parameter-description {
  color: grey;
  font-style: italic;
}

.parameter-id {
  font-weight: bold;
}

.parameter-label {
  min-width: 200px;
  /* display: inline-block; */
}
</style>
