<template>
  <!-- Use 'select' (i.e. drop-down menu) if parameter has 'IsAmong' rule -->
  <template v-if="rule !== null && rule.length > 1 && rule[1] === 'IsAmong'">
    <ui-select
      :options="selectOptions"
      :modelValue="modelValue"
      @update:modelValue="emitValue"
    >
    </ui-select>
  </template>
  <template v-else-if="type.startsWith('vector:')">
    <table>
      <template
        v-for="(_, index) in modelValue"
        :key="'input' + index.toString()"
      >
        <tr>
          <td>
            {{ index }}:
            <command-parameter-input
              :type="type.substring(7)"
              :rule="null"
              :modelValue="modelValue[index]"
              @update:modelValue="(value) => emitVectorValue(value, index)"
            ></command-parameter-input>
          </td>
        </tr>
        <!-- FIXME: Propagate rules here if applicable -->
      </template>
      <tr>
        <td>
          <ui-icon-button
            @click="removeItemFromVector"
            v-if="modelValue.length > 0"
            >remove</ui-icon-button
          >
          <ui-icon-button @click="addItemToVector">add</ui-icon-button>
        </td>
      </tr>
    </table>
  </template>
  <template v-else>
    <ui-checkbox
      v-if="type === 'bool'"
      :modelValue="modelValue"
      @update:modelValue="emitValue"
    >
    </ui-checkbox>
    <ui-textfield
      v-else-if="
        type === 'uint16' ||
        type === 'uint32' ||
        type === 'uint64' ||
        type === 'int32' ||
        type === 'int64'
      "
      inputType="number"
      :modelValue="modelValue"
      @update:modelValue="emitValue"
    >
    </ui-textfield>
    <ui-textfield
      v-else-if="type === 'string'"
      :modelValue="modelValue"
      @update:modelValue="emitValue"
    >
    </ui-textfield>
    <template v-else-if="type === 'file'">
      <ui-file accept="*" @change="onUploadFile"> </ui-file>
      <p style="margin-left: 10px; color: grey">
        <template v-if="fileName === null"> No file uploaded yet </template>
        <template v-else> {{ fileName }} ({{ fileSize }} bytes) </template>
      </p>
    </template>
    <template v-else>
      Unknown parameter type: <code>{{ type }}</code>
    </template>
  </template>
</template>

<script>
const kDefaultParamValueMap = {
  bool: false,
  uint16: 0,
  uint32: 0,
  uint64: 0,
  int32: 0,
  int64: 0,
  float: 0.0,
  double: 0.0,
  string: "",
  "vector:bool": [],
  "vector:uint16": [],
  "vector:uint32": [],
  "vector:uint64": [],
  "vector:int32": [],
  "vector:int64": [],
  "vector:float": [],
  "vector:double": [],
  "vector:string": [],
  file: { path: "" },
};

export default {
  name: "command-parameter-input",
  props: {
    modelValue: {},
    type: {
      type: String,
      required: true,
    },
    rule: {
      required: true,
    },
  },
  data() {
    return {
      fileName: null,
      fileSize: 0,
    };
  },
  emits: ["update:modelValue"],
  computed: {
    selectOptions() {
      if (
        this.rule !== null &&
        this.rule.length > 1 &&
        this.rule[1] === "IsAmong"
      ) {
        let result = [];
        for (let i = 2; i < this.rule.length; i++) {
          result.push({ label: this.rule[i].toString(), value: this.rule[i] });
        }
        return result;
      } else {
        return [];
      }
    },
  },
  methods: {
    emitValue(value) {
      if (
        this.type === "uint16" ||
        this.type === "uint32" ||
        this.type == "uint64" ||
        this.type === "int32" ||
        this.type === "int64"
      ) {
        value = parseInt(value);
      }
      this.$emit("update:modelValue", value);
    },
    emitVectorValue(value, i) {
      const itemType = this.type.substring(7);
      if (
        itemType === "uint16" ||
        itemType === "uint32" ||
        itemType == "uint64" ||
        itemType === "int32" ||
        itemType === "int64"
      ) {
        value = parseInt(value);
      }
      let vecValue = [];
      for (const x of this.modelValue) {
        vecValue.push(x);
      }
      vecValue[i] = value;
      this.$emit("update:modelValue", vecValue);
    },
    async onUploadFile(x) {
      const reader = new FileReader();
      reader.readAsDataURL(x[0].sourceFile);
      reader.onload = () => {
        let encoded = reader.result.toString().replace(/^data:(.*,)?/, "");
        if (encoded.length % 4 > 0) {
          encoded += "=".repeat(4 - (encoded.length % 4));
        }
        let paramValue = {
          name: x[0].sourceFile.name,
          contents: encoded,
          type: "",
          format: "",
        };
        this.$emit("update:modelValue", paramValue);
        this.fileName = x[0].sourceFile.name;
        this.fileSize = x[0].sourceFile.size;
      };
    },
    addItemToVector() {
      let newValue = [];
      for (const x of this.modelValue) {
        newValue.push(x);
      }
      newValue.push(kDefaultParamValueMap[this.type.substring(7)]);
      this.$emit("update:modelValue", newValue);
    },
    removeItemFromVector() {
      let newValue = [];
      for (let i = 0; i < this.modelValue.length - 1; i++) {
        newValue.push(this.modelValue[i]);
      }
      this.$emit("update:modelValue", newValue);
    },
  },
};
</script>

<style></style>
