<template>
  <div :class="styleClass">
    {{ snapshot.alias }}
    <monitoring-status-lozenge
      class="status-badge-lozenge-position"
      v-show="snapshot.setting !== 'enabled'"
      :snapshot="snapshot"
    ></monitoring-status-lozenge>
  </div>
</template>

<script>
import MonitoringStatusLozenge from "./MonitoringStatusLozenge.vue";

const classMap = {
  good: "status-badge-good",
  warning: "status-badge-warning",
  error: "status-badge-error",
  "no limit": "status-badge-neutral",
  unknown: "status-badge-unknown",
};

export default {
  components: { MonitoringStatusLozenge },
  name: "component-status-badge",
  props: {
    name: {
      type: String,
      required: true,
    },
    snapshot: {
      type: Object,
      required: true,
    },
  },
  computed: {
    styleClass() {
      return classMap[this.snapshot.status];
    },
  },
};
</script>

<style scoped>
.status-badge-lozenge-position {
  align-self: center;
}

.status-badge-good,
.status-badge-warning,
.status-badge-error,
.status-badge-neutral,
.status-badge-unknown {
  display: flex;
  justify-content: space-between;

  padding: 0.4em;
  margin-top: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.status-badge-good {
  background-color: #66bb6a;
}

.status-badge-warning {
  background-color: #ffa726;
}

.status-badge-error {
  background-color: #ef5350;
}

.status-badge-neutral {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: white;
}

.status-badge-unknown {
  background-color: #bdbdbd;
}
</style>
