<template>
  <ui-table
    v-if="Object.keys(snapshots).length"
    :data="tData"
    :thead="tHead"
    :tbody="tBody"
  >
    <template #status="{ data }">
      <!-- Center the lozenge -->
      <div style="display: flex; justify-content: center">
        <monitoring-status-lozenge
          class="status-badge-lozenge-position"
          :snapshot="snapshots[data.id]"
        ></monitoring-status-lozenge>
      </div>
    </template>

    <template #value="{ data }">
      <div v-if="data.value === null" class="placeholder-cell">unknown</div>
      <b v-else>
        {{ this.formatMetricValue(data, true) }}
      </b>
    </template>

    <template #timestamp="{ data }">
      <div v-if="data.value === null" class="blank-cell">&mdash;</div>
      <template v-else>
        {{ convertEpochTimeToString(data.updateTime) }}
      </template>
    </template>

    <template #error="{ data }">
      <div v-if="data.errorCondition === null" class="placeholder-cell">
        none
      </div>
      <template v-else>
        {{ data.errorCondition }}
      </template>
    </template>

    <template #warning="{ data }">
      <div v-if="data.warningCondition === null" class="placeholder-cell">
        none
      </div>
      <template v-else>
        {{ data.warningCondition }}
      </template>
    </template>
  </ui-table>
</template>

<script>
import MonitoringStatusLozenge from "./MonitoringStatusLozenge.vue";

export default {
  components: { MonitoringStatusLozenge },
  name: "metric-snapshots-table",
  props: {
    snapshots: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      monBadgeStateMap: {
        unknown: "info",
        "no limit": "info",
        good: "success",
        warning: "warning",
        error: "error",
      },
    };
  },
  computed: {
    monBadgeStates() {
      let result = {};
      for (const id in this.snapshots) {
        result[id] = this.monBadgeStateMap[this.snapshots[id].status];
      }
      return result;
    },
    tData() {
      let result = [];
      for (const id of Object.keys(this.snapshots).sort()) {
        result.push(this.snapshots[id]);
        result.at(-1).id = id;
      }
      return result;
    },
    tHead() {
      let headings = [
        "Metric",
        "Value",
        "Status",
        "Last updated",
        "Error condition",
        "Warning condition",
      ];
      let result = [];
      for (const x of headings) {
        result.push({ value: x, class: "column-heading" });
      }
      return result;
    },
    tBody() {
      return [
        {
          fn: (data) => {
            return data.alias.length > 0 ? data.alias : data.id;
          },
        },
        { slot: "value" },
        { slot: "status", align: "center" },
        { slot: "timestamp" },
        { slot: "error" },
        { slot: "warning" },
      ];
    },
  },
  methods: {
    convertEpochTimeToString(epochTime) {
      const d = new Date(epochTime * 1000);
      return d.toLocaleString("en-GB", {
        timeZone: "UTC",
        timeZoneName: "short",
      });
    },
    formatMetricValue(data, showUnit) {
      let result = null;
      if (data.value === null) {
        return result;
      }
      if (data.type.startsWith("uint") || data.type.startsWith("int")) {
        const width = data.format.length == 1 ? 1 : data.format[1];
        const padChar = data.format.length == 1 ? "0" : data.format[2];
        if (data.format[0] == "dec") {
          result = data.value.toString(10).padStart(width, padChar);
        } else if (data.format[0] == "bin") {
          result = "0b" + data.value.toString(2).padStart(width, padChar);
        } else if (data.format[0] == "oct") {
          result = "0o" + data.value.toString(8).padStart(width, padChar);
        } else if (data.format[0] == "hex") {
          result = "0x" + data.value.toString(16).padStart(width, padChar);
        }
      } else if (data.type === "float" || data.type === "double") {
        if (data.format[0] === "fix") {
          if (data.format.length == 1) {
            result = data.value.toFixed();
          } else {
            result = data.value.toFixed(data.format[1]);
          }
        } else if (data.format.length == 1) {
          result = data.value.toExponential();
        } else {
          result = data.value.toExponential(data.format[1]);
        }
      } else if (data.type === "bool") {
        return data.value.toString();
      } else {
        // String
        return data.value;
      }
      if ("unit" in data && data.unit !== null && showUnit) {
        result += data.unit;
      }
      return result;
    },
  },
};
</script>

<style scoped>
:deep(tbody > tr) {
  height: 40px;
}

:deep(.column-heading) {
  font-weight: bold;
}

.blank-cell {
  text-align: center;
  color: #bdbdbd;
}

.placeholder-cell {
  font-variant: small-caps;
  color: #bdbdbd;
}
</style>
