<template>
  <div
    style="
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 5px;
      text-align: left;
    "
  >
    <ui-collapse with-icon ripple>
      <template #toggle>
        {{ title }}
        <monitoring-status-lozenge
          class="monitoring-collapsible-lozenge-position"
          :snapshot="statusMap"
        ></monitoring-status-lozenge>
      </template>

      <template
        v-if="
          propertyMap !== null &&
          'properties' in propertyMap &&
          Object.keys(propertyMap.properties).length > 0
        "
      >
        <p>
          <b>Properties</b>&nbsp;
          <i
            >(updated in
            {{ this.formatDuration(propertyMap.propertyUpdateDuration) }})</i
          >
        </p>

        <div style="padding-left: 20px; margin-bottom: 15px">
          <p v-if="!('propertyUpdateError' in propertyMap)">
            <code>{{ propertyMap }}</code>
          </p>
          <p v-if="propertyMap.propertyUpdateError !== null">
            <ui-icon class="update-icon-error">error</ui-icon>
            Exception of type
            <code>{{ propertyMap.propertyUpdateError.type }}</code>
            thrown when updating monitoring data. Message:
            <code>{{ propertyMap.propertyUpdateError.message }}</code>
            <!-- TODO: Add location -->
          </p>
          <properties-table
            :property-map="propertyMap.properties"
          ></properties-table>
        </div>
      </template>

      <template v-if="Object.keys(statusMap.metrics).length > 0">
        <p>
          <b>Metrics</b>&nbsp;
          <i
            >(updated in {{ this.formatDuration(statusMap.updateDuration) }})</i
          >
        </p>
        <div style="padding-left: 20px; margin-bottom: 15px">
          <p v-if="statusMap.updateError !== null">
            <ui-icon class="update-icon-error">error</ui-icon>
            Exception of type <code>{{ statusMap.updateError.type }}</code>
            thrown when updating monitoring data. Message:
            <code>{{ statusMap.updateError.message }}</code>
            <!-- TODO: Add location -->
          </p>
          <metric-snapshots-table
            :snapshots="statusMap.metrics"
          ></metric-snapshots-table>
        </div>
      </template>

      <h4 v-if="Object.keys(statusMap.monitorables).length > 0">
        Subcomponents
      </h4>
      <monitoring-status-collapsible
        v-for="(_, id) in statusMap.monitorables"
        :key="id"
        style="
          border-style: solid;
          border-width: 1px;
          border-color: #e0e0e0;
          border-radius: 8px;
        "
        :title="
          statusMap.monitorables[id].alias.length > 0
            ? statusMap.monitorables[id].alias
            : id
        "
        :status-map="statusMap.monitorables[id]"
        :property-map="
          propertyMap !== null && id in propertyMap.children
            ? propertyMap.children[id]
            : null
        "
      >
      </monitoring-status-collapsible>
    </ui-collapse>
  </div>
</template>

<script>
import MetricSnapshotsTable from "./MetricSnapshotsTable.vue";
import MonitoringStatusLozenge from "./MonitoringStatusLozenge.vue";
import PropertiesTable from "./PropertiesTable.vue";

export default {
  components: {
    MetricSnapshotsTable,
    MonitoringStatusLozenge,
    PropertiesTable,
  },
  name: "monitoring-status-collapsible",
  props: {
    title: {
      type: String,
      required: true,
    },
    statusMap: {
      type: Object,
      required: true,
    },
    propertyMap: {
      // type: Object,
      required: true,
    },
  },
  data() {
    return {
      monBadgeStateMap: {
        unknown: "info",
        "no limit": "info",
        good: "success",
        warning: "warning",
        error: "error",
      },
    };
  },
  computed: {
    monBadgeState() {
      return this.monBadgeStateMap[this.statusMap.status];
    },
  },
  methods: {
    formatDuration(nSeconds) {
      if (nSeconds >= 100) {
        return nSeconds.toFixed(0) + " seconds";
      } else if (nSeconds >= 0.1) {
        return nSeconds.toPrecision(3) + " seconds";
      } else if (nSeconds >= 0.0001) {
        return (nSeconds * 1000).toPrecision(3) + "ms";
      } else {
        return (nSeconds * 1e6).toPrecision(3) + "us";
      }
    },
  },
};
</script>

<style scoped>
h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.monitoring-collapsible-lozenge-position {
  display: inline-block;
  vertical-align: 3px;
  margin-left: 20px;
}
.update-icon-error {
  color: #ef5350;
  font-size: 1em;
}
</style>
