<template>
  <div class="header">
    <h2>Optics</h2>

    <div class="right-align-switch">
      <ui-switch
        v-model="showEmptySockets"
        input-id="switch-show-empty-sockets"
        true-value="true"
        false-value="false"
      >
        Text inside ui-switch </ui-switch
      ><br />
      <label for="switch-show-empty-sockets"
        >Empty sockets<br />{{ switchLabel }}</label
      >
    </div>
  </div>

  <div
    v-if="moduleIds.length === 0"
    style="display: flex; align-items: center; justify-content: center"
  >
    <div style="font-style: italic; margin: 20px">
      {{
        showEmptySockets
          ? "No optical modules registered"
          : "No sites populated"
      }}
    </div>
  </div>

  <div v-else>
    <template v-for="moduleId in moduleIds" :key="moduleId">
      <div
        :class="[
          info[moduleId].isPresent
            ? 'optics-module-status-box'
            : 'optics-empty-socket-box',
        ]"
      >
        <span>{{ status[moduleId].alias }}</span>

        <div class="optics-channel-status-box-container">
          <template
            v-for="(channelInfo, i) in info[moduleId].inputs"
            :key="moduleId + ':' + channelInfo.id"
          >
            <div
              :class="[
                'optics-channel-status-box',
                styleClass(
                  status[moduleId].monitorables[channelInfo.id].status
                ),
              ]"
            >
              {{ channelInfo.index }}
            </div>
            <br v-if="i % 4 === 3" />
          </template>
        </div>
        <p
          style="font-size: 0.5em; margin: 2.5px"
          v-if="
            info[moduleId].inputs.length > 0 &&
            info[moduleId].outputs.length > 0
          "
        >
          --
        </p>
        <div class="optics-channel-status-box-container">
          <template
            v-for="(channelInfo, i) in info[moduleId].outputs"
            :key="moduleId + ':' + channelInfo.id"
          >
            <div
              :class="[
                'optics-channel-status-box',
                styleClass(
                  status[moduleId].monitorables[channelInfo.id].status
                ),
              ]"
            >
              {{ channelInfo.index }}
            </div>
            <br v-if="i % 4 === 3" />
          </template>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
const classMap = {
  good: "optics-channel-status-box-good",
  warning: "optics-channel-status-box-warning",
  error: "optics-channel-status-box-error",
  "no limit": "optics-channel-status-box-neutral",
  unknown: "optics-channel-status-box-unknown",
};

export default {
  components: {},
  name: "optics-status-subpanel",
  props: {
    info: {
      type: Object,
      required: true,
    },
    status: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      showEmptySockets: false,
    };
  },
  computed: {
    moduleIds() {
      let allIds = Object.keys(this.info).sort();
      if (this.showEmptySockets) {
        return allIds;
      } else {
        return allIds.filter((x) => this.info[x].isPresent);
      }
    },
    switchLabel() {
      return this.showEmptySockets ? "shown" : "hidden";
    },
  },
  methods: {
    styleClass(status) {
      return classMap[status];
    },
  },
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.header h1 {
  text-align: center;
}

.right-align-switch {
  position: absolute;
  right: 0;
  margin: 20px;
  color: grey;
  font-size: 0.75em;
}

.optics-module-status-box {
  display: inline-block;
  margin: 6px;
  padding: 4px;

  border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd;
}

.optics-empty-socket-box {
  display: inline-block;
  margin: 6px;
  padding: 4px;

  border-style: dashed;
  border-width: 1px;
  border-color: #bdbdbd;
}

.optics-channel-status-box-container {
  /* Prevent larger-than-wanted gap between rows */
  line-height: 0;
  font-size: 0;
}

/* span > .optics-module-status-box {
  line-height: 24px;
  font-size: 24px;
  font-style: bold;
  text-align: center
} */

.optics-channel-status-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 2px;

  /* border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd; */

  line-height: 12px;
  font-size: 8px;
  text-align: center;
  color: white;
}

.optics-channel-status-box-good {
  background-color: #66bb6a;
}

.optics-channel-status-box-warning {
  background-color: #ffa726;
}

.optics-channel-status-box-error {
  background-color: #ef5350;
}

.optics-channel-status-box-neutral {
  border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd;
  background-color: white;
  color: #333333;
}

.optics-channel-status-box-unknown {
  background-color: #bdbdbd;
}
</style>
