<template>
  <div>
    <div class="port-status-box-container">
      <!-- Info: {{ info }}<br> -->
      <template v-for="id of portIdsByIndex" :key="id">
        <div
          @mouseover="selectedID = id"
          @mouseleave="selectedID = null"
          :class="styleClasses(status[id])"
        ></div>
      </template>
      <!-- Status: {{ status }} -->
    </div>
    <div style="text-align: center; text-color: grey">
      {{
        selectedID == null
          ? "&nbsp;"
          : "[" + info[selectedID].index.toString() + "] " + selectedID
      }}
    </div>
  </div>
</template>

<script>
const classMap = {
  good: "port-status-box-good",
  warning: "port-status-box-warning",
  error: "port-status-box-error",
  "no limit": "port-status-box-neutral",
  unknown: "port-status-box-unknown",
};

export default {
  components: {},
  name: "port-status-summary",
  props: {
    info: {
      type: Object,
      required: true,
    },
    status: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedID: null,
    };
  },
  computed: {
    portIdsByIndex() {
      let x = Object.keys(this.info).sort((a, b) => {
        const indexA = this.info[a].index;
        const indexB = this.info[b].index;
        if (indexA < indexB) {
          return -1;
        }
        if (indexB < indexA) {
          return 1;
        }
        return 0;
      });
      return x;
    },
  },
  methods: {
    styleClasses(status) {
      if (status.setting == "disabled") {
        return ["port-status-box", "port-status-box-disabled"];
      }

      let classes = ["port-status-box", classMap[status.status]];
      if (status.setting == "non-critical") {
        classes.push("port-status-box-noncritical");
      }
      return classes;
    },
  },
};
</script>

<style scoped>
.port-status-box-container {
  /* Prevent larger-than-wanted gap between rows */
  line-height: 0;
  font-size: 0;
}

.port-status-box {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 2px;
  /* border-color: #bdbdbd; */
}

.port-status-box-disabled {
  /* This linear gradient background should give a ~ 1px diagonal line */
  background: linear-gradient(
    to bottom right,
    white 0% 47%,
    black 47% 53%,
    white 53% 100%
  );
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
  border-width: 1px;
}

.port-status-box-noncritical {
  border-color: #757575;
  border-style: solid;
  box-sizing: border-box;
  border-width: 3px;
}

.port-status-box-good {
  background-color: #66bb6a;
}

.port-status-box-warning {
  background-color: #ffa726;
}

.port-status-box-error {
  background-color: #ef5350;
}

.port-status-box-neutral {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: white;
}

.port-status-box-unknown {
  background-color: #bdbdbd;
}
</style>
