<template>
  <div :class="styleClass">{{ text }}</div>
</template>

<script>
const classMap = {
  good: "status-lozenge-good",
  warning: "status-lozenge-warning",
  error: "status-lozenge-error",
  "no limit": "status-lozenge-neutral",
  unknown: "status-lozenge-unknown",
};

export default {
  components: {},
  name: "port-status-lozenge",
  props: {
    snapshot: {
      type: Object,
      required: true,
    },
    isMasked: {
      type: Boolean,
      required: true,
    },
    isInLoopback: {
      type: Boolean,
      required: true,
    },
    isPresent: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    text() {
      let suffixes = [];
      if (!this.isPresent) {
        suffixes.push("Absent");
      }
      if (this.isMasked) {
        suffixes.push("masked");
      }
      if (this.snapshot.setting === "non-critical") {
        suffixes.push("non critical");
      }
      if (this.isInLoopback) {
        suffixes.push("loopback");
      }

      const suffix = suffixes.length > 0 ? " (" + suffixes.join() + ")" : "";
      if (this.snapshot.setting == "disabled") {
        return "disabled" + suffix;
      } else {
        return this.snapshot.status + suffix;
      }
    },
    styleClass() {
      if (this.snapshot.setting == "disabled") {
        return "status-lozenge-disabled";
      } else {
        return classMap[this.snapshot.status];
      }
    },
  },
};
</script>

<style scoped>
.status-lozenge-good,
.status-lozenge-warning,
.status-lozenge-error,
.status-lozenge-neutral,
.status-lozenge-unknown,
.status-lozenge-disabled {
  height: min-content;
  width: min-content;
  white-space: nowrap;

  margin: 0px;
  /* padding: 0.15em 0.5em 0.15em 0.5em; */
  padding: 0em 0.5em 0em 0.5em;
  border-radius: 1em;

  font-variant: small-caps;
  font-size: 75%;
  line-height: 1.5;

  color: white;
}

.status-lozenge-good {
  background-color: #66bb6a;
}

.status-lozenge-warning {
  background-color: #ffa726;
}

.status-lozenge-error {
  background-color: #ef5350;
}

.status-lozenge-neutral {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: white;
  color: grey;
}

.status-lozenge-unknown {
  background-color: #bdbdbd;
}

.status-lozenge-disabled {
  background-color: #1e88e5;
}
</style>
