<template style="">
  <div>
    <h2>Processor {{ name }}</h2>
    <div style="text-align: left; width: 40%; float: left">
      <div style="padding-left: 15px; padding-right: 15px">
        <h4>Components</h4>
        <template
          v-for="(snapshot, componentId) in status.monitorables"
          :key="componentId"
        >
          <component-status-badge :name="componentId" :snapshot="snapshot">
          </component-status-badge>
        </template>
        <h4>Actions</h4>
        <i>
          <p v-if="info.fsm === null">Not engaged in any FSM</p>
          <p v-else>FSM: &nbsp;{{ info.fsm }}<br />State: {{ info.state }}</p>

          <p v-if="info.runningActions.length === 0">Not running any actions</p>
          <p v-else>
            Running command
            <b>{{
              info.runningActions[-1].substr(
                info.runningActions[-1].lastIndexOf(".") + 1
              )
            }}</b>
          </p>
        </i>
      </div>
    </div>
    <div style="text-align: left; width: 60%; float: left">
      <div style="padding-left: 15px; padding-right: 15px">
        <h4>Input ports</h4>
        <port-status-summary
          :info="info.inputs"
          :status="status.monitorables.inputPorts.monitorables"
        ></port-status-summary>
        <h4>Output ports</h4>
        <port-status-summary
          :info="info.outputs"
          :status="status.monitorables.outputPorts.monitorables"
        ></port-status-summary>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentStatusBadge from "./ComponentStatusBadge.vue";
import PortStatusSummary from "./PortStatusSummary.vue";
export default {
  components: { ComponentStatusBadge, PortStatusSummary },
  name: "processor-status-subpanel",
  props: {
    name: {
      type: String,
      required: true,
    },
    info: {
      type: Object,
      required: true,
    },
    status: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
h2 {
  margin-bottom: 0px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
