<template>
  <template v-if="Object.keys(propertyMap).length > 0">
    <ui-table :data="tData" :thead="tHead" :tbody="tBody">
      <template #name="{ data }">
        <template v-if="data.group.length > 0">
          {{ data.group }} &#187; {{ data.name }}
        </template>
        <template v-else>
          {{ data.name }}
        </template>
        <template v-if="data.description.length > 0">
          <br /><i style="color: #bdbdbd">{{ data.description }}</i>
        </template>
      </template>

      <template #value="{ data }">
        <div v-if="data.value === null" class="placeholder-cell">unknown</div>
        <template v-else>
          {{ this.formatPropertyValue(data, true) }}
        </template>
      </template>

      <template #timestamp="{ data }">
        <div v-if="data.value === null" class="blank-cell">&mdash;</div>
        <template v-else>
          {{ convertEpochTimeToString(data.updateTime) }}
        </template>
      </template>
    </ui-table>

    <template v-for="(propInfo, propName) in tableProperties" :key="propName">
      <p v-if="propInfo.group.length > 0">
        <b> {{ propInfo.group }} &#187; {{ propName }} </b>
      </p>
      <p v-else>
        <b>
          {{ propName }}
        </b>
      </p>
      <p v-if="propInfo.value === null"><i>Value not set</i></p>
      <ui-table
        v-else
        :data="this.extractTData(propInfo.value)"
        :thead="this.extractTHead(propInfo.value)"
        :tbody="this.extractTBody(propInfo.value)"
      ></ui-table>
    </template>
  </template>
</template>

<script>
export default {
  components: {},
  name: "properties-table",
  props: {
    propertyMap: {
      type: Object,
      required: true,
    },
  },
  computed: {
    tData() {
      let result = [];
      for (const name in this.propertyMap) {
        if (this.propertyMap[name].type !== "table") {
          result.push(this.propertyMap[name]);
          result.at(-1).name = name;
        }
      }
      return result;
    },
    tHead() {
      let headings = ["", "Value", "Last updated"];
      let result = [];
      for (const x of headings) {
        result.push({ value: x, class: "column-heading" });
      }
      return result;
    },
    tBody() {
      return [{ slot: "name" }, { slot: "value" }, { slot: "timestamp" }];
    },
    tableProperties() {
      let result = {};
      for (const name in this.propertyMap) {
        if (this.propertyMap[name].type === "table") {
          result[name] = this.propertyMap[name];
        }
      }
      return result;
    },
  },
  methods: {
    convertEpochTimeToString(epochTime) {
      const d = new Date(epochTime * 1000);
      return d.toLocaleString("en-GB", {
        timeZone: "UTC",
        timeZoneName: "short",
      });
    },
    extractTBody(tableValue) {
      let result = [];
      for (let x of tableValue.columns) {
        // console.log("extractTBody: ", i);
        // result.push({ fn: (data) => { return data[i]; } });
        result.push({ field: x.name });
      }
      return result;
    },
    extractTData(tableValue) {
      let result = [];
      for (const x of tableValue.data) {
        let rowData = {};
        for (let i = 0; i < tableValue.columns.length; i++) {
          rowData[tableValue.columns[i].name] = x[i];
        }
        result.push(rowData);
      }
      return result;
    },
    extractTHead(tableValue) {
      let result = [];
      for (const x of tableValue.columns) {
        result.push({ value: x.name, class: "column-heading" });
      }
      return result;
    },
    formatPropertyValue(data, showUnit) {
      let result = null;
      if (data.value === null) {
        return result;
      }
      if (data.type.startsWith("uint") || data.type.startsWith("int")) {
        const width = data.format.length == 1 ? 1 : data.format[1];
        const padChar = data.format.length == 1 ? "0" : data.format[2];
        if (data.format[0] == "dec") {
          result = data.value.toString(10).padStart(width, padChar);
        } else if (data.format[0] == "bin") {
          result = "0b" + data.value.toString(2).padStart(width, padChar);
        } else if (data.format[0] == "oct") {
          result = "0o" + data.value.toString(8).padStart(width, padChar);
        } else if (data.format[0] == "hex") {
          result = "0x" + data.value.toString(16).padStart(width, padChar);
        }
      } else if (data.type === "float" || data.type === "double") {
        if (data.format[0] === "fix") {
          if (data.format.length == 1) {
            result = data.value.toFixed();
          } else {
            result = data.value.toFixed(data.format[1]);
          }
        } else if (data.format.length == 1) {
          result = data.value.toExponential();
        } else {
          result = data.value.toExponential(data.format[1]);
        }
      } else if (data.type === "bool") {
        return data.value.toString();
      } else {
        // String
        return data.value;
      }
      if ("unit" in data && data.unit !== null && showUnit) {
        result += data.unit;
      }
      return result;
    },
  },
};
</script>

<style scoped>
:deep(tbody > tr) {
  height: 40px;
}

:deep(.column-heading) {
  font-weight: bold;
}

.blank-cell {
  text-align: center;
  color: #bdbdbd;
}

.placeholder-cell {
  font-variant: small-caps;
  color: #bdbdbd;
}
</style>
