<template>
  <ui-alert state="error">
    <p v-if="typeof message === 'string' && message.length > 0">
      {{ message }}
    </p>

    <!-- <p>
      <b>[{{ errorDetails.response.data.errorType }}]</b>
      {{ errorDetails.response.data.errorMessage }}
    </p> -->

    <ui-collapse with-icon ripple>
      <template #toggle>
        <div><i>HTTP request & response details</i></div>
      </template>
      <table>
        <tr>
          <td>Type</td>
          <td>{{ errorDetails.config.method.toUpperCase() }}</td>
        </tr>
        <tr>
          <td>URL</td>
          <td>
            <code>{{ errorDetails.config.url }}</code>
          </td>
        </tr>
        <tr>
          <td>Status code</td>
          <td>{{ errorDetails.response.status }}</td>
        </tr>
        <tr>
          <td>Request data</td>
          <td>
            <code>{{ requestData }}</code>
          </td>
        </tr>
        <tr>
          <td>Response data</td>
          <td>
            <code>{{ errorDetails.response.data }}</code>
          </td>
        </tr>
      </table>
    </ui-collapse>
  </ui-alert>
</template>

<script>
export default {
  components: {},
  name: "shep-http-alert",
  props: {
    message: {
      type: String,
      required: true,
    },
    errorDetails: {
      type: Object,
      required: true,
    },
  },
  computed: {
    requestData() {
      if (this.errorDetails === null || this.errorDetails === undefined) {
        return "";
      }
      return this.errorDetails.config.data;
    },
  },
};
</script>

<style></style>
