<template>
  <div v-if="Object.keys(this.boardMap).length > 0">
    <!-- <div class="header">
      <h1>Board status</h1>
      <ui-fab icon="settings" mini></ui-fab> -->
    <!-- TODO: Auto-refresh on/off; refresh period; timezone
    </div> -->

    <ui-grid>
      <ui-grid-cell style="text-align: left" columns="4">
        <ui-select
          v-model="selectedBoardId"
          :options="boardSelectOptions"
          @selected="onSelectBoard()"
          outlined
        >
          Board
        </ui-select>
        <table id="board-info" v-if="selectedBoard !== null">
          <tr>
            <td>Host</td>
            <td>
              <b
                ><code>{{ selectedBoard.ip }}</code></b
              >
            </td>
          </tr>
          <tr>
            <td>Port</td>
            <td>
              <code>{{ selectedBoard.port }}</code>
            </td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{ selectedBoard.crate_id }}, slot {{ selectedBoard.slot }}</td>
          </tr>
          <tr>
            <td>HW type</td>
            <td>
              <b style="font-variant: small-caps">{{ appInfo.hardwareType }}</b>
            </td>
          </tr>
        </table>
      </ui-grid-cell>
      <ui-grid-cell style="text-align: center" columns="4">
        <ui-alert state="error" v-if="updateFailed && !infoValid">
          Could not contact board<br />
          Last tried at {{ strTimeOfLastUpdateAttempt }}<br />
        </ui-alert>
        <ui-alert state="error" v-else-if="updateFailed">
          Could not contact board<br />
          since {{ strTimeUpdateFailuresBegan }}.<br />
          Last tried at {{ strTimeOfLastUpdateAttempt }}<br />
          Last successful at {{ strTimeOfLastSuccessfulUpdate }}
        </ui-alert>
        <template v-else-if="!infoValid">
          <ui-spinner active></ui-spinner>
        </template>
        <template v-else>
          <p v-if="appInfo.lease.supervisor">
            <ui-icon class="orange500">lock</ui-icon> Board is locked to another
            application, <br />"{{ appInfo.lease.supervisor }}"<br />Lease
            expires in {{ appInfo.lease.duration.toFixed(1) }} seconds
          </p>
          <p v-else>
            <ui-icon class="green500">lock_open</ui-icon> Board is available for
            use
          </p>
        </template>
      </ui-grid-cell>
      <ui-grid-cell style="text-align: right" columns="4">
        <template v-if="infoValid">
          <p>
            App started at {{ strAppStartTime }}<br />
            Data last fetched at {{ strTimeOfLastSuccessfulUpdate }}
          </p>
          <!-- VERSION INFO -->
          <ui-button
            outlined
            @click="showVersionInfo = true"
            style="float: right"
            >Show version info</ui-button
          >
          <ui-dialog v-model="showVersionInfo">
            <ui-dialog-title style="text-align: left"
              >Library build & version info</ui-dialog-title
            >
            <ui-dialog-content>
              <div>
                <ui-table
                  :data="versionTableData"
                  :thead="versionTableHead"
                  :tbody="versionTableBody"
                >
                  <template #buildType="{ data }">
                    <template v-if="data.build.type == 'manual'">
                      Manual build
                    </template>
                    <template v-else-if="data.build.type == 'gitlab'">
                      GitLab CI: Pipeline
                      <a
                        :href="getPackageGitLabPipelineURL(data.build)"
                        target="_blank"
                        >{{ data.build.pipelineID }}</a
                      >, job
                      <a
                        :href="getPackageGitLabJobURL(data.build)"
                        target="_blank"
                        >{{ data.build.jobID }}</a
                      >
                    </template>
                    <template v-else> Unknown build type </template>
                  </template>
                </ui-table>
              </div></ui-dialog-content
            >
            <ui-dialog-actions>
              <ui-button @click="showVersionInfo = false">OK</ui-button>
            </ui-dialog-actions>
          </ui-dialog>
        </template>
      </ui-grid-cell>
    </ui-grid>

    <template v-if="infoValid">
      <ui-grid>
        <ui-grid-cell nested columns="6" v-shadow="2">
          <template v-for="(_, procId) in deviceInfo.processors" :key="procId">
            <ui-grid-cell
              v-if="deviceInfo.processors[procId].isPresent"
              columns="12"
            >
              <processor-status-subpanel
                :name="procId"
                :info="deviceInfo.processors[procId]"
                :status="monStatus[procId]"
              >
              </processor-status-subpanel>
            </ui-grid-cell>
          </template>
        </ui-grid-cell>
        <ui-grid-cell columns="6" v-shadow="2">
          <optics-status-subpanel :info="deviceInfo.optics" :status="monStatus">
          </optics-status-subpanel>
        </ui-grid-cell>

        <ui-grid-cell columns="12" v-shadow="2">
          <div class="header">
            <h2>I/O overview</h2>

            <div class="right-align-switch">
              <ui-switch
                v-model="showEmptySockets"
                input-id="switch-show-empty-sockets"
                true-value="true"
                false-value="false"
              >
                Text inside ui-switch </ui-switch
              ><br />
              <label for="switch-show-empty-sockets"
                >Empty sockets<br />{{
                  this.showEmptySockets ? "shown" : "hidden"
                }}</label
              >
            </div>
          </div>

          <ui-collapse with-icon ripple>
            <template #toggle> Optical inputs </template>
            <ui-table
              :data="opticalInputTData"
              :thead="opticalInputTHead"
              :tbody="opticalInputTBody"
            >
              <template #fibreID="{ data }">
                <template v-if="data.fibre_id !== null">
                  {{ data.fibre_id[0] }}, ch {{ data.fibre_id[1] }}
                </template>
              </template>
              <template #optoID="{ data }">
                {{ data.optics_id[0] }}, ch {{ data.optics_id[1] }}
              </template>
              <template #optoStatus="{ data }">
                <monitoring-status-lozenge :snapshot="data.optics_status">
                </monitoring-status-lozenge>
              </template>
              <template #arrow> &rarr; </template>
              <template #portID="{ data }">
                {{ data.port_id[0] }}, ch {{ data.port_id[1] }}
              </template>
              <template #portMode="{ data }">
                {{ this.formatPortOperatingMode(data.port_mode) }}
              </template>
              <template #portStatus="{ data }">
                <port-status-lozenge
                  :snapshot="data.port_status"
                  :is-present="data.port_is_present"
                  :is-masked="data.port_is_masked"
                  :is-in-loopback="data.port_is_in_loopback"
                >
                </port-status-lozenge>
              </template>
            </ui-table>
          </ui-collapse>

          <ui-collapse with-icon ripple>
            <template #toggle> Optical outputs </template>
            <ui-table
              :data="opticalOutputTData"
              :thead="opticalOutputTHead"
              :tbody="opticalOutputTBody"
            >
              <template #portID="{ data }">
                {{ data.port_id[0] }}, ch {{ data.port_id[1] }}
              </template>
              <template #portMode="{ data }">
                {{ this.formatPortOperatingMode(data.port_mode) }}
              </template>
              <template #portStatus="{ data }">
                <port-status-lozenge
                  :snapshot="data.port_status"
                  :is-present="data.port_is_present"
                  :is-masked="data.port_is_masked"
                  :is-in-loopback="data.port_is_in_loopback"
                >
                </port-status-lozenge>
              </template>
              <template #arrow> &rarr; </template>
              <template #optoID="{ data }">
                {{ data.optics_id[0] }}, ch {{ data.optics_id[1] }}
              </template>
              <template #optoStatus="{ data }">
                <monitoring-status-lozenge :snapshot="data.optics_status">
                </monitoring-status-lozenge>
              </template>
              <template #fibreID="{ data }">
                <template v-if="data.fibre_id !== null">
                  {{ data.fibre_id[0] }}, ch {{ data.fibre_id[1] }}
                </template>
              </template>
            </ui-table>
          </ui-collapse>

          <ui-collapse with-icon ripple v-if="internalLinkTData.length > 0">
            <template #toggle> Internal links </template>
            <ui-table
              :data="internalLinkTData"
              :thead="internalLinkTHead"
              :tbody="internalLinkTBody"
            >
              <template #txPortID="{ data }">
                {{ data.tx_port_id[0] }}, ch {{ data.tx_port_id[1] }}
              </template>
              <template #txPortMode="{ data }">
                {{ this.formatPortOperatingMode(data.tx_port_mode) }}
              </template>
              <template #txPortStatus="{ data }">
                <port-status-lozenge
                  :snapshot="data.tx_port_status"
                  :is-present="data.tx_port_is_present"
                  :is-masked="data.tx_port_is_masked"
                  :is-in-loopback="data.tx_port_is_in_loopback"
                >
                </port-status-lozenge>
              </template>
              <template #arrow> &rarr; </template>
              <template #rxPortID="{ data }">
                {{ data.rx_port_id[0] }}, ch {{ data.rx_port_id[1] }}
              </template>
              <template #rxPortMode="{ data }">
                {{ this.formatPortOperatingMode(data.rx_port_mode) }}
              </template>
              <template #rxPortStatus="{ data }">
                <port-status-lozenge
                  :snapshot="data.rx_port_status"
                  :is-present="data.rx_port_is_present"
                  :is-masked="data.rx_port_is_masked"
                  :is-in-loopback="data.rx_port_is_in_loopback"
                >
                </port-status-lozenge>
              </template>
            </ui-table>
          </ui-collapse>
        </ui-grid-cell>
      </ui-grid>

      <h2>FPGAs: Detailed information</h2>

      <!-- TODO: Replace title with more relevant service module name if defined by user -->
      <div v-shadow="2">
        <monitoring-status-collapsible
          title="Service module"
          :status-map="monStatus[deviceInfo.serviceModule.id]"
          :property-map="propertyMap[deviceInfo.serviceModule.id]"
        >
        </monitoring-status-collapsible>
      </div>

      <div
        v-shadow="2"
        v-for="(_, procId) in deviceInfo.processors"
        :key="procId"
      >
        <monitoring-status-collapsible
          :title="'Processor: ' + procId"
          :status-map="monStatus[procId]"
          :property-map="propertyMap[procId]"
        >
        </monitoring-status-collapsible>
      </div>

      <template v-if="populatedOpticsSites.length > 0">
        <h2>Optics: Detailed information</h2>
        <div
          v-shadow="2"
          v-for="moduleId in populatedOpticsSites"
          :key="moduleId"
        >
          <monitoring-status-collapsible
            :title="
              monStatus[moduleId].alias.length > 0
                ? monStatus[moduleId].alias
                : moduleId
            "
            :status-map="monStatus[moduleId]"
            :property-map="propertyMap[moduleId]"
          >
          </monitoring-status-collapsible>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import axios from "axios";

import MonitoringStatusCollapsible from "../components/MonitoringStatusCollapsible.vue";
import MonitoringStatusLozenge from "../components/MonitoringStatusLozenge.vue";
import OpticsStatusSubpanel from "../components/OpticsStatusSubpanel.vue";
import PortStatusLozenge from "../components/PortStatusLozenge.vue";
import ProcessorStatusSubpanel from "../components/ProcessorStatusSubpanel.vue";

export default {
  components: {
    MonitoringStatusCollapsible,
    MonitoringStatusLozenge,
    OpticsStatusSubpanel,
    PortStatusLozenge,
    ProcessorStatusSubpanel,
  },
  name: "board-status-page",
  props: {
    boards: {
      type: Array,
      required: true,
    },
    boardDetails: {
      type: Object,
      required: true,
    },
    crates: {
      type: Object,
      required: true,
    },
    links: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      appInfo: {},
      infoValid: false,
      deviceInfo: {},
      monStatus: {},
      showEmptySockets: false,
      showVersionInfo: false,
      selectedBoardId: "",
      timeZone: "UTC",
      timer: "",
      timeUpdateFailuresBegan: new Date(0),
      timeOfLastUpdateAttempt: new Date(0),
      timeOfLastSuccessfulUpdate: new Date(0),
      updateFailed: false,
    };
  },
  emits: ["refreshProps"],
  computed: {
    boardMap() {
      let result = [];
      for (const board of this.boards) {
        result[board.id] = board;
      }
      return result;
    },
    boardSelectOptions() {
      let result = [];
      for (const key in this.boardMap) {
        result.push({ label: key, value: key });
      }
      return result;
      //return this.boards.reduce((opts, x) => {opts.push({id: x.id, label: x.id}); return opts;}, [])
    },
    populatedOpticsSites() {
      let result = [];
      for (const moduleId in this.deviceInfo.optics) {
        if (this.deviceInfo.optics[moduleId].isPresent) {
          result.push(moduleId);
        }
      }
      return result;
    },
    selectedBoard() {
      if (!(this.selectedBoardId in this.boardMap)) {
        return null;
      }
      return this.boardMap[this.selectedBoardId];
    },
    strAppStartTime() {
      const d = new Date(this.appInfo.startTime * 1000);
      const options = { timeZone: "UTC" };
      return (
        d.toLocaleTimeString("en-GB", options) +
        " on " +
        d.toLocaleDateString("en-GB", options)
      );
    },
    strTimeUpdateFailuresBegan() {
      // en-GB -> 24-hour time without AM/PM
      return this.timeUpdateFailuresBegan.toLocaleTimeString("en-GB", {
        timeZone: this.timeZone,
        timeZoneName: "short",
      });
    },
    strTimeOfLastUpdateAttempt() {
      // en-GB -> 24-hour time without AM/PM
      return this.timeOfLastUpdateAttempt.toLocaleTimeString("en-GB", {
        timeZone: this.timeZone,
        timeZoneName: "short",
      });
    },
    strTimeOfLastSuccessfulUpdate() {
      // en-GB -> 24-hour time without AM/PM
      return this.timeOfLastSuccessfulUpdate.toLocaleTimeString("en-GB", {
        timeZone: this.timeZone,
        timeZoneName: "short",
      });
    },
    versionTableData() {
      let result = [];
      for (const key in this.appInfo.packages) {
        const d = new Date(this.appInfo.packages[key].build.time * 1000);
        const options = { timeZone: "UTC" };
        const timeStr =
          d.toLocaleTimeString("en-GB", options) +
          " on " +
          d.toLocaleDateString("en-GB", options);

        let x = {
          name: key,
          buildTimestamp: timeStr,
          version: "TODO",
          build: this.appInfo.packages[key].build,
        };

        const vcsInfo = this.appInfo.packages[key].versionControlSystem;
        if (vcsInfo !== null && vcsInfo.type == "git") {
          if ("branch" in vcsInfo) {
            x["version"] =
              vcsInfo.branch + ", commit " + vcsInfo.sha.substring(0, 8);
          } else if ("tag" in vcsInfo) {
            x["version"] = vcsInfo.tag + " (tag)";
          } else {
            x["version"] = "Commit " + vcsInfo.sha.substring(0, 8);
          }
          if (!vcsInfo.clean) {
            x["version"] = x["version"] + " with local modifications";
          }
        } else {
          x["version"] = "Unknown VCS";
        }

        result.push(x);
      }
      return result;
    },
    versionTableBody() {
      return ["name", "version", "buildTimestamp", { slot: "buildType" }];
    },
    versionTableHead() {
      return ["Library", "Version", "Build timestamp", "Build type"];
    },
    opticalInputTData() {
      let result = [];
      for (const moduleId in this.deviceInfo.optics) {
        if (
          this.showEmptySockets ||
          this.deviceInfo.optics[moduleId].isPresent
        ) {
          for (const chan of this.deviceInfo.optics[moduleId].inputs) {
            if (chan.connectedPort !== null) {
              let portId = null;
              for (const x in this.deviceInfo.processors[chan.connectedPort[0]]
                .inputs) {
                portId = x;
                if (
                  this.deviceInfo.processors[chan.connectedPort[0]].inputs[x]
                    .index === chan.connectedPort[1]
                ) {
                  break;
                }
              }
              result.push({
                optics_id: [moduleId, chan.index],
                optics_status: this.monStatus[moduleId].monitorables[chan.id],
                fibre_id: chan.connectedFibre,
                port_id: chan.connectedPort,
                port_status:
                  this.monStatus[chan.connectedPort[0]].monitorables.inputPorts
                    .monitorables[portId],
                port_mode:
                  this.deviceInfo.processors[chan.connectedPort[0]].inputs[
                    portId
                  ].operatingMode,
                port_is_present:
                  this.deviceInfo.processors[chan.connectedPort[0]].inputs[
                    portId
                  ].isPresent,
                port_is_masked:
                  this.deviceInfo.processors[chan.connectedPort[0]].inputs[
                    portId
                  ].isMasked,
                port_is_in_loopback:
                  this.deviceInfo.processors[chan.connectedPort[0]].inputs[
                    portId
                  ].isInLoopback,
              });
            }
          }
        }
      }

      // Sort by processor ID & port index
      result.sort((a, b) => {
        if (a.port_id[0] == b.port_id[0]) {
          return a.port_id[1] - b.port_id[1];
        } else if (a.port_id[0] > b.port_id[0]) {
          return 1;
        } else {
          return -1;
        }
      });
      return result;
    },
    opticalInputTHead() {
      return [
        "Front panel",
        "Optical channel",
        "Optical status",
        "",
        "FPGA port",
        "Port mode",
        "Port status",
      ];
    },
    opticalInputTBody() {
      return [
        { slot: "fibreID" },
        { slot: "optoID" },
        { slot: "optoStatus" },
        { slot: "arrow" },
        { slot: "portID" },
        { slot: "portMode" },
        { slot: "portStatus" },
      ];
    },
    opticalOutputTData() {
      let result = [];
      for (const moduleId in this.deviceInfo.optics) {
        if (
          this.showEmptySockets ||
          this.deviceInfo.optics[moduleId].isPresent
        ) {
          for (const chan of this.deviceInfo.optics[moduleId].outputs) {
            if (chan.connectedPort !== null) {
              let portId = null;
              for (const x in this.deviceInfo.processors[chan.connectedPort[0]]
                .outputs) {
                portId = x;
                if (
                  this.deviceInfo.processors[chan.connectedPort[0]].outputs[x]
                    .index === chan.connectedPort[1]
                ) {
                  break;
                }
              }
              result.push({
                optics_id: [moduleId, chan.index],
                optics_status: this.monStatus[moduleId].monitorables[chan.id],
                fibre_id: chan.connectedFibre,
                port_id: chan.connectedPort,
                port_status:
                  this.monStatus[chan.connectedPort[0]].monitorables.outputPorts
                    .monitorables[portId],
                port_mode:
                  this.deviceInfo.processors[chan.connectedPort[0]].outputs[
                    portId
                  ].operatingMode,
                port_is_present:
                  this.deviceInfo.processors[chan.connectedPort[0]].outputs[
                    portId
                  ].isPresent,
                port_is_masked:
                  this.deviceInfo.processors[chan.connectedPort[0]].outputs[
                    portId
                  ].isMasked,
                port_is_in_loopback:
                  this.deviceInfo.processors[chan.connectedPort[0]].outputs[
                    portId
                  ].isInLoopback,
              });
            }
          }
        }
      }

      // Sort by processor ID & port index
      result.sort((a, b) => {
        if (a.port_id[0] == b.port_id[0]) {
          return a.port_id[1] - b.port_id[1];
        } else if (a.port_id[0] > b.port_id[0]) {
          return 1;
        } else {
          return -1;
        }
      });
      return result;
    },
    opticalOutputTHead() {
      return [
        "FPGA port",
        "Port mode",
        "Port status",
        "",
        "Optical channel",
        "Optical status",
        "Front panel",
      ];
    },
    opticalOutputTBody() {
      return [
        { slot: "portID" },
        { slot: "portMode" },
        { slot: "portStatus" },
        { slot: "arrow" },
        { slot: "optoID" },
        { slot: "optoStatus" },
        { slot: "fibreID" },
      ];
    },
    internalLinkTData() {
      let result = [];
      for (const txProcId in this.deviceInfo.processors) {
        for (const txPortId in this.deviceInfo.processors[txProcId].outputs) {
          const txPort = this.deviceInfo.processors[txProcId].outputs[txPortId];
          if (txPort.connectedObject !== null) {
            if (txPort.connectedObject[0] === "proc") {
              const rxProcId = txPort.connectedObject[1];
              let rxPortId = null;
              for (const x in this.deviceInfo.processors[rxProcId].inputs) {
                rxPortId = x;
                if (
                  this.deviceInfo.processors[rxProcId].inputs[x].index ===
                  txPort.connectedObject[2]
                ) {
                  break;
                }
              }

              result.push({
                rx_port_id: txPort.connectedObject.slice(1),
                rx_port_status:
                  this.monStatus[rxProcId].monitorables.inputPorts.monitorables[
                    rxPortId
                  ],
                rx_port_mode:
                  this.deviceInfo.processors[rxProcId].inputs[rxPortId]
                    .operatingMode,
                rx_port_is_present:
                  this.deviceInfo.processors[rxProcId].inputs[rxPortId]
                    .isPresent,
                rx_port_is_masked:
                  this.deviceInfo.processors[rxProcId].inputs[rxPortId]
                    .isMasked,
                rx_port_is_in_loopback:
                  this.deviceInfo.processors[rxProcId].inputs[rxPortId]
                    .isInLoopback,
                tx_port_id: [txProcId, txPort.index],
                tx_port_status:
                  this.monStatus[txProcId].monitorables.outputPorts
                    .monitorables[txPortId],
                tx_port_mode:
                  this.deviceInfo.processors[txProcId].outputs[txPortId]
                    .operatingMode,
                tx_port_is_present:
                  this.deviceInfo.processors[txProcId].outputs[txPortId]
                    .isPresent,
                tx_port_is_masked:
                  this.deviceInfo.processors[txProcId].outputs[txPortId]
                    .isMasked,
                tx_port_is_in_loopback:
                  this.deviceInfo.processors[txProcId].outputs[txPortId]
                    .isInLoopback,
              });
            }
          }
        }
      }

      // Sort by TX processor ID & port index
      result.sort((a, b) => {
        if (a.tx_port_id[0] == b.tx_port_id[0]) {
          return a.tx_port_id[1] - b.tx_port_id[1];
        } else if (a.tx_port_id[0] > b.tx_port_id[0]) {
          return 1;
        } else {
          return -1;
        }
      });
      return result;
    },
    internalLinkTHead() {
      return [
        "TX port",
        "TX port mode",
        "TX port status",
        "",
        "RX port",
        "RX port mode",
        "RX port status",
      ];
    },
    internalLinkTBody() {
      return [
        { slot: "txPortID" },
        { slot: "txPortMode" },
        { slot: "txPortStatus" },
        { slot: "arrow" },
        { slot: "rxPortID" },
        { slot: "rxPortMode" },
        { slot: "rxPortStatus" },
      ];
    },
    propertyMap() {
      let result = {};

      result[this.deviceInfo.serviceModule.id] = {
        properties: this.deviceInfo.serviceModule.properties,
        propertyUpdateDuration:
          this.deviceInfo.serviceModule.propertyUpdateDuration,
        propertyUpdateError: this.deviceInfo.serviceModule.propertyUpdateError,
        children: {},
      };

      for (const procId in this.deviceInfo.processors) {
        const procInfo = this.deviceInfo.processors[procId];
        result[procId] = {
          properties: procInfo.properties,
          propertyUpdateDuration: procInfo.propertyUpdateDuration,
          propertyUpdateError: procInfo.propertyUpdateError,
          children: {
            inputPorts: { children: {} },
            outputPorts: { children: {} },
          },
        };

        for (const portId in procInfo.inputs) {
          result[procId].children.inputPorts.children[portId] = {
            properties: procInfo.inputs[portId].properties,
            propertyUpdateDuration:
              procInfo.inputs[portId].propertyUpdateDuration,
            propertyUpdateError: procInfo.inputs[portId].propertyUpdateError,
          };
        }

        for (const portId in procInfo.outputs) {
          result[procId].children.outputPorts.children[portId] = {
            properties: procInfo.outputs[portId].properties,
            propertyUpdateDuration:
              procInfo.outputs[portId].propertyUpdateDuration,
            propertyUpdateError: procInfo.outputs[portId].propertyUpdateError,
          };
        }
      }

      for (const moduleId in this.deviceInfo.optics) {
        result[moduleId] = {
          properties: this.deviceInfo.optics[moduleId].properties,
          propertyUpdateDuration:
            this.deviceInfo.optics[moduleId].propertyUpdateDuration,
          propertyUpdateError:
            this.deviceInfo.optics[moduleId].propertyUpdateError,
          children: {},
        };
        for (const chan of this.deviceInfo.optics[moduleId].inputs) {
          result[moduleId].children[chan.id] = {
            properties: chan.properties,
            propertyUpdateDuration: chan.propertyUpdateDuration,
            propertyUpdateError: chan.propertyUpdateError,
            children: {},
          };
        }
      }

      return result;
    },
  },
  created() {
    console.log("board-panel: CALLBACK(created)", new Date());
    this.timer = setInterval(this.fetchData, 20000);
  },
  methods: {
    fetchData() {
      console.log("board-panel: fetchData", new Date());
      if (this.selectedBoard !== null) {
        let startTime = new Date();

        Promise.all([
          axios.get(
            "/api/board-proxy/" +
              this.selectedBoard.ip +
              ":" +
              this.selectedBoard.port.toString() +
              "/"
          ),
          axios.get(
            "/api/board-proxy/" +
              this.selectedBoard.ip +
              ":" +
              this.selectedBoard.port.toString() +
              "/devices"
          ),
          axios.put(
            "/api/board-proxy/" +
              this.selectedBoard.ip +
              ":" +
              this.selectedBoard.port.toString() +
              "/monitoring"
          ),
          axios.get(
            "/api/board-proxy/" +
              this.selectedBoard.ip +
              ":" +
              this.selectedBoard.port.toString() +
              "/monitoring"
          ),
        ])
          .then((results) => {
            this.appInfo = results[0].data;
            this.deviceInfo = results[1].data;
            this.monStatus = results[3].data;
            this.updateFailed = false;
            this.timeOfLastUpdateAttempt = new Date(startTime);
            this.timeOfLastSuccessfulUpdate = new Date(startTime);
            this.infoValid = true;
          })
          .catch((error) => {
            this.timeOfLastUpdateAttempt = new Date(startTime);
            if (!this.updateFailed) {
              this.timeUpdateFailuresBegan = new Date(startTime);
            }
            this.updateFailed = true;
            console.log(error);
            console.log(error.toJSON());
          });
      }
    },
    cancelAutoUpdate() {
      console.log("board-panel: cancelAutoUpdate", new Date());
      clearInterval(this.timer);
    },
    convertEpochTimeToString(epochTime) {
      const d = new Date(epochTime * 1000);
      return d.toLocaleString("en-GB", {
        timeZone: "UTC",
        timeZoneName: "short",
      });
    },
    getPackageGitLabJobURL(packageBuildInfo) {
      return (
        packageBuildInfo.serverURL +
        "/" +
        packageBuildInfo.projectPath +
        "/-/jobs/" +
        packageBuildInfo.jobID.toString()
      );
    },
    getPackageGitLabPipelineURL(packageBuildInfo) {
      return (
        packageBuildInfo.serverURL +
        "/" +
        packageBuildInfo.projectPath +
        "/-/pipelines/" +
        packageBuildInfo.pipelineID.toString()
      );
    },
    formatPortOperatingMode(x) {
      if (x[0] === "CSP") {
        return (
          "CSP(" + x[1].toString() + "/" + x[2].toString() + ", " + x[3] + ")"
        );
      } else {
        return x[0];
      }
    },
    onSelectBoard() {
      console.log("board-panel: onSelectBoard", new Date());
      this.infoValid = false;
      this.timeUpdateFailuresBegan = new Date(0);
      this.timeOfLastUpdateAttempt = new Date(0);
      this.timeOfLastSuccessfulUpdate = new Date(0);
      this.updateFailed = false;

      this.fetchData();
    },
  },
  beforeUnmount() {
    console.log("board-panel: CALLBACK(beforeUnmount)", new Date());
    this.cancelAutoUpdate();
  },
};
</script>

<style scoped>
#board-info td {
  margin: 10px;
}

#board-info td {
  padding: 2px 4px;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.header h1 {
  text-align: center;
}

.right-align-switch {
  position: absolute;
  right: 0;
  margin: 20px;
  color: grey;
  font-size: 0.75em;
}

.orange500 {
  color: #ff9800;
}

.green500 {
  color: #4caf50;
}
</style>
