<template>
  <div class="left-aligned">
    <ui-grid>
      <!-- DEVICE TYPE LIST -->
      <ui-grid-cell columns="4" v-shadow="2">
        <h3>Select device type</h3>
        <ui-list
          :model-value="indexOfSelectedType"
          @update:modelValue="onSelectType"
          single-selection
        >
          <ui-item v-for="type in deviceTypes" :key="type">
            <ui-item-text-content
              ><code>{{ type }}</code></ui-item-text-content
            >
          </ui-item>
        </ui-list>
      </ui-grid-cell>

      <!-- COMMAND LIST -->
      <ui-grid-cell columns="4" v-shadow="2">
        <template v-if="indexOfSelectedType >= 0">
          <h3>Select command</h3>
          <p v-if="commandIds.length === 0" style="text-align: center">
            <i>No commands defined</i>
          </p>
          <ui-list
            v-else
            v-model="indexOfSelectedCmd"
            @update:modelValue="onSelectCommand"
            single-selection
          >
            <ui-item v-for="cmdId in commandIds" :key="cmdId">
              <ui-item-text-content>
                <ui-item-text1>{{
                  commandInfoMap[selectedDeviceType][cmdId].alias.length > 0
                    ? commandInfoMap[selectedDeviceType][cmdId].alias
                    : cmdId
                }}</ui-item-text1>
                <ui-item-text2>{{
                  commandInfoMap[selectedDeviceType][cmdId].description
                }}</ui-item-text2>
              </ui-item-text-content>
            </ui-item>
          </ui-list>
        </template>
      </ui-grid-cell>

      <!-- DEVICE LIST -->
      <ui-grid-cell columns="4" v-shadow="2">
        <template v-if="indexOfSelectedType >= 0 && indexOfSelectedCmd >= 0">
          <h3>Select device</h3>
          <ui-list>
            <ui-item v-for="(boardDevId, index) in deviceIds" :key="boardDevId">
              <ui-item-text-content>
                {{ boardDevId[0] }} - {{ boardDevId[1] }}
              </ui-item-text-content>
              <ui-item-last-content>
                <ui-checkbox
                  v-model="indexOfSelectedDevices"
                  :value="index"
                  @click.stop
                ></ui-checkbox>
              </ui-item-last-content>
            </ui-item>
          </ui-list>
        </template>
      </ui-grid-cell>
    </ui-grid>

    <ui-grid v-if="indexOfSelectedType >= 0 && indexOfSelectedCmd >= 0">
      <ui-grid-cell columns="12" v-shadow="12">
        <h3>Parameters</h3>
        <!-- Set :key for command parameter form, so that when command is changed
             it's automatically re-rendered (and hence param map reset) -->
        <command-parameter-form
          :key="selectedCommand"
          :parameters="specOfSelectedCommand.parameters"
          :constraints="specOfSelectedCommand.constraints"
          v-model="params"
        >
        </command-parameter-form>
        <ui-button
          class="button-alignment"
          :disabled="selectedDevices.length === 0"
          raised
          @click="runCommand"
          >Run command</ui-button
        >
      </ui-grid-cell>
    </ui-grid>

    <http-alert
      v-if="runCommandError !== null"
      :message="runCommandError.message"
      :error-details="runCommandError.details"
    >
    </http-alert>

    <ui-grid v-if="showStatus">
      <ui-grid-cell columns="12" v-shadow="12">
        <h3>Command status</h3>

        <div class="status-table-alignment">
          <ui-table
            class="status-table-width"
            :data="tData"
            :thead="tHead"
            :tbody="tBody"
          >
            <template #state="{ data }">
              <template v-if="data.state === 'Done'">
                <ui-icon class="action-status-icon-good">check_circle</ui-icon>
                Completed successfully!
              </template>
              <template v-else-if="data.state === 'Warning'">
                <ui-icon class="action-status-icon-warning">warning</ui-icon>
                Completed with warning!
              </template>
              <template v-else-if="data.state === 'Error'">
                <ui-icon class="action-status-icon-error">error</ui-icon>
                Error occurred!
              </template>
              <template v-else>
                Running ({{ (data.progress * 100).toFixed(0) }}%)
              </template>
            </template>
            <template #messages="{ data }">
              <p v-for="(x, index) in data.messages" :key="index">
                {{ "\u00BB " + x[1] }}
              </p>
            </template>
            <template #result="{ data }">
              <template v-if="data.state === 'Done'">
                <!-- Provide download link if file (i.e. if result field is an object) -->
                <template
                  v-if="
                    typeof data.result === 'object' &&
                    !Array.isArray(data.result) &&
                    data.result !== null
                  "
                >
                  <ui-button
                    @click="downloadFileResult(data.result)"
                    icon="download"
                    outlined
                    v-shadow="1"
                  >
                    Download file
                  </ui-button>
                  ({{ data.result.name }},
                  {{ 0.75 * data.result.contents.length }} bytes)
                </template>
                <template v-else>
                  {{ data.result }}
                </template>
              </template>
            </template>
          </ui-table>
        </div>
      </ui-grid-cell>
    </ui-grid>

    <div v-else-if="commandsInProgress" style="text-align: center">
      <ui-spinner active></ui-spinner>
      <p>Obtaining lease & running command ...</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import CommandParameterForm from "../components/CommandParameterForm.vue";
import HttpAlert from "../components/HttpAlert.vue";

export default {
  name: "commands-page",
  components: { CommandParameterForm, HttpAlert },
  props: {
    boards: {
      type: Array,
      required: true,
    },
    boardDetails: {
      type: Object,
      required: true,
    },
    crates: {
      type: Object,
      required: true,
    },
    links: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      commandsInProgress: false,
      indexOfSelectedCmd: -1,
      indexOfSelectedType: -1,
      indexOfSelectedDevices: [],
      params: {},
      runCommandError: null,
      showStatus: false,
      statusSnapshots: [],
      tHead: [
        // {class: 'status-table-header', value: 'Device'},
        "Device",
        "Progress",
        "Duration",
        "Messages",
        "Result",
      ],
      tBody: [
        "rowName",
        { slot: "state", align: "center" },
        { field: "duration", align: "center" },
        { slot: "messages" },
        { slot: "result" },
      ],
      timer: "",
    };
  },
  emits: ["refreshProps"],
  computed: {
    boardBaseURLs() {
      let result = {};
      for (const boardInfo of this.boards) {
        result[boardInfo.id] =
          "/api/board-proxy/" + boardInfo.ip + ":" + boardInfo.port.toString();
      }
      return result;
    },
    // {DEVICE_TYPE: [[DEVICE_ID]]
    deviceTypes() {
      return Object.keys(this.boardDeviceIdsMap).sort();
    },
    commandIds() {
      return Object.keys(this.commandInfoMap[this.selectedDeviceType]);
    },
    deviceIds() {
      return this.boardDeviceIdsMap[this.selectedDeviceType];
    },
    // {DEVICE C++ TYPE: [[BOARD_ID, DEVICE_ID]]}
    boardDeviceIdsMap() {
      let result = {};
      for (const [boardId, boardInfo] of Object.entries(this.boardDetails)) {
        // If board not contactable, boardInfo = null
        if (boardInfo == null) {
          continue;
        }

        for (const [procId, procInfo] of Object.entries(
          boardInfo.devices.processors
        )) {
          if (!procInfo.isPresent) {
            continue;
          }

          if (!(procInfo.type in result)) {
            result[procInfo.type] = [];
          }
          result[procInfo.type].push([boardId, procId]);
        }

        if (!boardInfo.devices.serviceModule.isPresent) {
          continue;
        }
        if (!(boardInfo.devices.serviceModule.type in result)) {
          result[boardInfo.devices.serviceModule.type] = [];
        }
        result[boardInfo.devices.serviceModule.type].push([
          boardId,
          boardInfo.devices.serviceModule.id,
        ]);
      }

      for (const x in result) {
        result[x] = result[x].sort();
      }

      return result;
    },
    // {DEVICE C++ TYPE: {COMMAND_ID: {COMMAND_SPEC}}}
    commandInfoMap() {
      let result = {};
      for (const x of Object.values(this.boardDetails)) {
        // If board not contactable, boardInfo = null
        if (x == null) {
          continue;
        }

        for (const [procId, procInfo] of Object.entries(x.devices.processors)) {
          if (!(procInfo.type in result)) {
            result[procInfo.type] = {};
          }
          for (const cmdId in x.commands[procId]) {
            result[procInfo.type][cmdId] = x.commands[procId][cmdId];
          }
        }

        if (!(x.devices.serviceModule.type in result)) {
          result[x.devices.serviceModule.type] = {};
        }
        for (const cmdId in x.commands[x.devices.serviceModule.id]) {
          result[x.devices.serviceModule.type][cmdId] =
            x.commands[x.devices.serviceModule.id][cmdId];
        }
      }

      return result;
    },
    selectedDeviceType() {
      return this.deviceTypes[this.indexOfSelectedType];
    },
    selectedCommand() {
      return this.commandIds[this.indexOfSelectedCmd];
    },
    selectedDevices() {
      let result = [];
      for (const x of this.indexOfSelectedDevices) {
        result.push(this.deviceIds[x]);
      }
      return result;
    },
    specOfSelectedCommand() {
      return this.commandInfoMap[this.selectedDeviceType][this.selectedCommand];
    },
    tData() {
      let result = [];
      for (const x of this.statusSnapshots) {
        // let messages = [];
        // for (const m of x[2].messages) {
        //   messages.push('\u00BB ')
        // }
        result.push({
          rowName: x[0] + " \u00BB " + x[1],
          state: x[2].state,
          progress: x[2].progress,
          duration: x[2].duration.toFixed(1) + "s",
          messages: x[2].messages,
          result: x[2].result,
        });
      }
      return result;
    },
  },
  methods: {
    hostnameFromProxiedURL(proxiedURL) {
      return proxiedURL.split("/")[3];
    },
    downloadFileResult(aFileResult) {
      // Based on https://www.raymondcamden.com/2020/12/15/vue-quick-shot-downloading-data-as-a-file
      // which in turn was based on https://www.bitdegree.org/learn/javascript-download
      console.log("downloadFileResult: ", aFileResult);

      let element = document.createElement("a");
      element.setAttribute("href", "data:;base64," + aFileResult.contents);
      element.setAttribute("download", aFileResult.name);

      element.style.display = "none";
      document.body.appendChild(element);

      element.click();
      document.body.removeChild(element);
    },
    async fetchCommandStatus() {
      console.log("commands-view: fetchCommandStatus", new Date());

      // 1) Check the status of commands
      let requests = [];
      for (const x of this.selectedDevices) {
        requests.push(
          axios.get(
            this.boardBaseURLs[x[0]] +
              "/commands/" +
              x[1] +
              "/" +
              this.selectedCommand
          )
        );
      }

      await Promise.all(requests)
        .then((results) => {
          let snapshots = [];
          for (const i in results) {
            snapshots.push([
              this.selectedDevices[i][0],
              this.selectedDevices[i][1],
              results[i].data,
            ]);
          }
          this.statusSnapshots = snapshots;
        })
        .catch((error) => {
          console.log(error);
        });

      // 2) Stop updating the information if all commands have finished
      for (const x of this.statusSnapshots) {
        if (
          x[2].state === "Initial" ||
          x[2].state === "Scheduled" ||
          x[2].state === "Running"
        ) {
          return;
        }
      }
      this.commandsInProgress = false;
      this.cancelAutoUpdate();
    },
    cancelAutoUpdate() {
      console.log("commands-view: cancelAutoUpdate", new Date());
      clearInterval(this.timer);
    },
    onSelectType(value) {
      this.indexOfSelectedType = value;
      this.indexOfSelectedCmd = -1;
    },
    onSelectCommand(value) {
      this.indexOfSelectedCommand = value;
      this.showStatus = false;
      this.cancelAutoUpdate();
    },
    async obtainLeases(duration) {
      // Construct list of boards
      let boardIds = new Set();
      for (const x of this.selectedDevices) {
        boardIds.add(x[0]);
      }
      boardIds = Array.from(boardIds);

      // List of boards -> List of HTTP requests
      let requests = [];
      for (const x of boardIds) {
        requests.push(
          axios.put(this.boardBaseURLs[x] + "/lease/obtain", {
            supervisor: "Web UI",
            duration: duration,
          })
        );
      }

      // Send out lease requests
      let leaseTokens = {};
      await Promise.all(requests)
        .then((results) => {
          for (const i in results) {
            leaseTokens[boardIds[i]] = results[i].data.lease;
          }
        })
        .catch((error) => {
          console.log(error);
          this.runCommandError = {
            message:
              "Could not obtain lease for " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
        });

      return leaseTokens;
    },
    async retireLeases(tokens) {
      // Create list of HTTP requests
      let requests = [];
      for (const x in tokens) {
        requests.push(
          axios.put(this.boardBaseURLs[x] + "/lease/retire", {
            lease: tokens[x],
          })
        );
      }

      // Log to console if any requests fail
      await Promise.all(requests).catch((error) => {
        console.log("Error occurred in retiring lease ", error);
      });

      return null;
    },
    async runCommand() {
      this.commandsInProgress = true;
      this.runCommandError = null;
      this.showStatus = false;

      // 1) Obtain leases
      let leaseTokens = await this.obtainLeases(10);
      if (Object.keys(leaseTokens).length === 0) {
        this.commandsInProgress = false;
        return;
      }

      // 2) Run the commands
      let requests = [];
      for (const i in this.selectedDevices) {
        let boardId = this.selectedDevices[i][0];
        let deviceId = this.selectedDevices[i][1];
        requests.push(
          axios.put(
            this.boardBaseURLs[boardId] +
              "/commands/" +
              deviceId +
              "/" +
              this.selectedCommand,
            { lease: leaseTokens[boardId], parameters: this.params }
          )
        );
      }

      await Promise.all(requests)
        .then((results) => {
          let snapshots = [];
          for (const i in results) {
            snapshots.push([
              this.selectedDevices[i][0],
              this.selectedDevices[i][1],
              results[i].data,
            ]);
          }
          this.statusSnapshots = snapshots;
        })
        .catch((error) => {
          this.runCommandError = {
            message:
              "Error occurred when running command on " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
          this.commandsInProgress = false;
        });

      await this.retireLeases(leaseTokens);

      if (!this.commandsInProgress) {
        return;
      }

      // 3) Enable status table, and set commands
      this.showStatus = true;
      this.timer = setInterval(this.fetchCommandStatus, 500);
    },
  },
};
</script>

<style scoped>
.left-aligned {
  text-align: left;
}

.left-aligned h3 {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
}

.button-alignment {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 250px;
}

.status-table-alignment {
  margin: 20px;
}

/* Defined to prevent table from overflowing containers when messages are really long */
.status-table-width {
  max-width: 100%;
}

/* Lists for selecting devices etc. scrollable if height > 350px */
ul {
  max-height: 250px;
  overflow: auto;
}

:deep(th) {
  font-weight: bold;
}

.action-status-icon-error {
  color: #ef5350;
  font-size: 1em;
}

.action-status-icon-warning {
  color: #ffa726;
  font-size: 1em;
}

.action-status-icon-good {
  color: #66bb6a;
  font-size: 1em;
}
</style>
