<template>
  <div class="left-aligned">
    <ui-grid>
      <!-- DEVICE TYPE LIST -->
      <ui-grid-cell columns="4" v-shadow="2">
        <h3>Select device type</h3>
        <ui-list
          :model-value="indexOfSelectedType"
          @update:modelValue="onSelectType"
          single-selection
        >
          <ui-item v-for="type in deviceTypes" :key="type">
            <ui-item-text-content
              ><code>{{ type }}</code></ui-item-text-content
            >
          </ui-item>
        </ui-list>
      </ui-grid-cell>

      <!-- FSM LIST -->
      <ui-grid-cell columns="4" v-shadow="2">
        <template v-if="indexOfSelectedType >= 0">
          <h3>Select state machine</h3>
          <p v-if="fsmIds.length === 0" style="text-align: center">
            <i>No state machines defined</i>
          </p>
          <ui-list
            v-else
            v-model="indexOfSelectedFSM"
            @update:modelValue="onSelectFSM"
            single-selection
          >
            <ui-item v-for="fsmId in fsmIds" :key="fsmId">
              <ui-item-text-content>
                <ui-item-text1>{{
                  fsmInfoMap[selectedDeviceType][fsmId].alias.length > 0
                    ? fsmInfoMap[selectedDeviceType][fsmId].alias
                    : fsmId
                }}</ui-item-text1>
                <ui-item-text2>{{
                  fsmInfoMap[selectedDeviceType][fsmId].description
                }}</ui-item-text2>
              </ui-item-text-content>
            </ui-item>
          </ui-list>
        </template>
      </ui-grid-cell>

      <!-- DEVICE LIST -->
      <ui-grid-cell columns="4" v-shadow="2">
        <template v-if="indexOfSelectedType >= 0 && indexOfSelectedFSM >= 0">
          <h3>Select device</h3>
          <ui-list>
            <ui-item v-for="(boardDevId, index) in deviceIds" :key="boardDevId">
              <ui-item-text-content>
                {{ boardDevId[0] }} - {{ boardDevId[1] }}
              </ui-item-text-content>
              <ui-item-last-content>
                <ui-checkbox
                  v-model="indexOfSelectedDevices"
                  :value="index"
                  @click.stop
                ></ui-checkbox>
              </ui-item-last-content>
            </ui-item>
          </ui-list>
        </template>
      </ui-grid-cell>
    </ui-grid>

    <ui-grid v-if="indexOfSelectedType >= 0 && indexOfSelectedFSM >= 0">
      <ui-grid-cell columns="12" v-shadow="12">
        <h3>FSM overview</h3>

        <template v-if="currentDeviceFsmAndState.length > 1">
          <p>The selected devices are in different FSM states</p>
          <!-- <template v-for="(x, index) in currentDeviceFsmAndState" :key="index">
            <p v-if="x.state === null">\u00BB </p>
          </template> -->
          <p>
            You need to ensure that devices are in the same state before using
            this page!
          </p>
        </template>
        <template v-else-if="currentDeviceFsmAndState.length === 1">
          <p v-if="currentDeviceFsmAndState[0].fsm === null">
            Selected devices are not engaged in any FSM
          </p>
          <p v-else-if="currentDeviceFsmAndState[0].fsm === selectedFSM">
            Current state:
            <span style="font-weight: bold">{{
              currentDeviceFsmAndState[0].state
            }}</span>
          </p>
          <p v-else>
            Selected devices are in another FSM:
            <span style="font-weight: bold">{{
              currentDeviceFsmAndState[0].fsm
            }}</span>
            (state:
            <span style="font-weight: bold">{{
              currentDeviceFsmAndState[0].state
            }}</span
            >)
          </p>

          <div class="fsm-button-container">
            <ui-button
              class="fsm-button-spacing"
              raised
              :disabled="currentDeviceFsmAndState[0].fsm !== null"
              @click="engageFSM"
              >Engage</ui-button
            >
            <ui-button
              class="fsm-button-spacing"
              raised
              :disabled="currentDeviceFsmAndState[0].fsm !== selectedFSM"
              @click="resetFSM"
              >Reset</ui-button
            >
            <ui-button
              class="fsm-button-spacing"
              raised
              :disabled="currentDeviceFsmAndState[0].fsm !== selectedFSM"
              @click="disengageFSM"
              >Disengage</ui-button
            >
          </div>

          <div v-if="fsmActionProgressMessage" style="text-align: center">
            <ui-spinner active></ui-spinner>
            <p>{{ fsmActionProgressMessage }}</p>
          </div>

          <ui-alert
            state="success"
            closable
            v-if="fsmActionSuccessMessage !== null"
          >
            {{ fsmActionSuccessMessage }}
          </ui-alert>
          <http-alert
            v-if="fsmActionError !== null"
            :message="fsmActionError.message"
            :error-details="fsmActionError.details"
          >
          </http-alert>

          <!-- TODO: Add summary of FSM states & transitions on right -->

          <template v-if="currentDeviceFsmAndState[0].fsm === selectedFSM">
            <br />
            <p v-if="availableTransitions.length === 0">
              No available transitions
            </p>
            <template v-else>
              <h3>Select a transition</h3>
              <ui-select
                class="transition-select-position"
                v-model="selectedTransition"
                :options="availableTransitions"
                @selected="onSelectTransition()"
                :key="
                  currentDeviceFsmAndState[0].fsm +
                  '/' +
                  currentDeviceFsmAndState[0].state
                "
              >
              </ui-select>

              <div class="parameter-form-container">
                <template
                  v-for="(stepSpec, index) in specOfSelectedTransition"
                  :key="
                    selectedFSM +
                    '/' +
                    selectedTransition +
                    '/' +
                    index.toString()
                  "
                >
                  <h4>
                    {{ index + 1 }}.
                    {{
                      stepSpec[1].alias.length > 0
                        ? stepSpec[1].alias
                        : stepSpec[0]
                    }}
                  </h4>
                  <p
                    style="font-style: italic"
                    v-if="stepSpec[1].description.length > 0"
                  >
                    {{ stepSpec[1].description }}
                  </p>
                  <!-- Set :key for command parameter form, so that when command is changed
                      it's automatically re-rendered (and hence param map reset) -->
                  <!--:key="selectedFSM + '/' + selectedTransition"-->
                  <command-parameter-form
                    :parameters="stepSpec[1].parameters"
                    :constraints="stepSpec[1].constraints"
                    v-model="params[index]"
                  >
                  </command-parameter-form>
                </template>
                <ui-button
                  class="transition-button-alignment"
                  raised
                  @click="runTransition"
                  >Run transition</ui-button
                >
              </div>
            </template>
          </template>
        </template>
      </ui-grid-cell>
    </ui-grid>

    <http-alert
      v-if="runTransitionError !== null"
      :message="runTransitionError.message"
      :error-details="runTransitionError.details"
    >
    </http-alert>

    <ui-grid v-if="showStatus">
      <ui-grid-cell columns="12" v-shadow="12">
        <h3>Transition status</h3>
        <div class="status-table-alignment">
          <ui-table
            class="status-table-width"
            :data="tData"
            :thead="tHead"
            :tbody="tBody"
          >
            <template #state="{ data }">
              <template v-if="data.state === 'Done'">
                <ui-icon class="action-status-icon-good">check_circle</ui-icon>
                Completed successfully!
              </template>
              <template v-else-if="data.state === 'Warning'">
                <ui-icon class="action-status-icon-warning">warning</ui-icon>
                Completed with warning!
              </template>
              <template v-else-if="data.state === 'Error'">
                <ui-icon class="action-status-icon-error">error</ui-icon>
                Error occurred!
              </template>
              <template v-else>
                Running ({{ (data.progress * 100).toFixed(0) }}%)
              </template>
            </template>
            <template #messages="{ data }">
              <p v-for="(x, index) in data.messages" :key="index">
                {{ "\u00BB " + x[1] }}
              </p>
            </template>
            <template #result="{ data }">
              <template v-if="data.state === 'Done'">
                <!-- Provide download link if file (i.e. if result field is an object) -->
                <template
                  v-if="
                    typeof data.result === 'object' &&
                    !Array.isArray(data.result) &&
                    data.result !== null
                  "
                >
                  <ui-button
                    @click="downloadFileResult(data.result)"
                    icon="download"
                    outlined
                    v-shadow="1"
                  >
                    Download file
                  </ui-button>
                  ({{ data.result.name }},
                  {{ 0.75 * data.result.contents.length }} bytes)
                </template>
                <template v-else>
                  {{ data.result }}
                </template>
              </template>
            </template>
          </ui-table>
        </div>
      </ui-grid-cell>
    </ui-grid>

    <div v-else-if="transitionsInProgress" style="text-align: center">
      <ui-spinner active></ui-spinner>
      <p>Obtaining lease & running transition ...</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import CommandParameterForm from "../components/CommandParameterForm.vue";
import HttpAlert from "../components/HttpAlert.vue";

export default {
  name: "state-machines-view",
  components: { CommandParameterForm, HttpAlert },
  props: {
    boards: {
      type: Array,
      required: true,
    },
    boardDetails: {
      type: Object,
      required: true,
    },
    crates: {
      type: Object,
      required: true,
    },
    links: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      transitionsInProgress: false,
      indexOfSelectedFSM: -1,
      indexOfSelectedType: -1,
      indexOfSelectedDevices: [],
      leaseError: null,
      runTransitionError: null,
      fsmActionError: null,
      fsmActionSuccessMessage: null,
      fsmActionProgressMessage: null,
      params: [],
      selectedTransition: null,
      showStatus: false,
      statusSnapshots: [],
      tHead: [
        // {class: 'status-table-header', value: 'Device'},
        "Device",
        "Command",
        "Progress",
        "Duration",
        "Messages",
        "Result",
      ],
      tBody: [
        "rowName",
        "command",
        { slot: "state", align: "center" },
        { field: "duration", align: "center" },
        { slot: "messages" },
        { slot: "result" },
      ],
      timer: "",
    };
  },
  emits: ["refreshProps"],
  computed: {
    availableTransitions() {
      if (this.currentDeviceFsmAndState.length === 1) {
        let result = [];
        for (const id of Object.keys(
          this.specOfSelectedFSM.states[this.currentDeviceFsmAndState[0].state]
        )) {
          result.push({
            label: id,
            value: this.currentDeviceFsmAndState[0].state + "/" + id,
          });
        }
        return result;
      } else {
        return [];
      }
    },
    // [{fsm: ID, STATE: ID, devices: [[BOARD_ID, DEVICE_ID], ...]}]
    currentDeviceFsmAndState() {
      let result = [];

      for (const [boardId, deviceId] of this.selectedDevices) {
        const fsm =
          this.boardDetails[boardId].devices.serviceModule.id == deviceId
            ? this.boardDetails[boardId].devices.serviceModule.fsm
            : this.boardDetails[boardId].devices.processors[deviceId].fsm;
        const state =
          this.boardDetails[boardId].devices.serviceModule.id == deviceId
            ? this.boardDetails[boardId].devices.serviceModule.state
            : this.boardDetails[boardId].devices.processors[deviceId].state;

        if (
          result.find((x) => x.fsm === fsm && x.state === state) === undefined
        ) {
          result.push({ fsm: fsm, state: state, devices: [] });
        }

        result[
          result.findIndex((x) => x.fsm === fsm && x.state === state)
        ].devices.push([boardId, deviceId]);
      }

      return result;
    },
    boardBaseURLs() {
      let result = {};
      for (const boardInfo of this.boards) {
        result[boardInfo.id] =
          "/api/board-proxy/" + boardInfo.ip + ":" + boardInfo.port.toString();
      }
      return result;
    },
    // {DEVICE_TYPE: [[DEVICE_ID]]
    deviceTypes() {
      return Object.keys(this.boardDeviceIdsMap).sort();
    },
    fsmIds() {
      return Object.keys(this.fsmInfoMap[this.selectedDeviceType]);
    },
    deviceIds() {
      return this.boardDeviceIdsMap[this.selectedDeviceType];
    },
    // {DEVICE C++ TYPE: [[BOARD_ID, DEVICE_ID]]}
    boardDeviceIdsMap() {
      let result = {};
      for (const [boardId, boardInfo] of Object.entries(this.boardDetails)) {
        // If board not contactable, boardInfo = null
        if (boardInfo == null) {
          continue;
        }

        for (const [procId, procInfo] of Object.entries(
          boardInfo.devices.processors
        )) {
          if (!procInfo.isPresent) {
            continue;
          }

          if (!(procInfo.type in result)) {
            result[procInfo.type] = [];
          }
          result[procInfo.type].push([boardId, procId]);
        }

        if (!boardInfo.devices.serviceModule.isPresent) {
          continue;
        }
        if (!(boardInfo.devices.serviceModule.type in result)) {
          result[boardInfo.devices.serviceModule.type] = [];
        }
        result[boardInfo.devices.serviceModule.type].push([
          boardId,
          boardInfo.devices.serviceModule.id,
        ]);
      }

      for (const x in result) {
        result[x] = result[x].sort();
      }

      return result;
    },
    // {DEVICE C++ TYPE: {FSM_ID: {FSM_SPEC}}}
    fsmInfoMap() {
      let result = {};
      for (const x of Object.values(this.boardDetails)) {
        // If board not contactable, boardInfo = null
        if (x == null) {
          continue;
        }

        for (const [procId, procInfo] of Object.entries(x.devices.processors)) {
          if (!(procInfo.type in result)) {
            result[procInfo.type] = {};
          }
          for (const fsmId in x.fsms[procId]) {
            result[procInfo.type][fsmId] = x.fsms[procId][fsmId];
          }
        }

        if (!(x.devices.serviceModule.type in result)) {
          result[x.devices.serviceModule.type] = {};
        }
        for (const fsmId in x.fsms[x.devices.serviceModule.id]) {
          result[x.devices.serviceModule.type][fsmId] =
            x.fsms[x.devices.serviceModule.id][fsmId];
        }
      }

      return result;
    },
    selectedDeviceType() {
      return this.deviceTypes[this.indexOfSelectedType];
    },
    selectedFSM() {
      return this.fsmIds[this.indexOfSelectedFSM];
    },
    selectedDevices() {
      let result = [];
      for (const x of this.indexOfSelectedDevices) {
        result.push(this.deviceIds[x]);
      }
      return result;
    },
    specOfSelectedFSM() {
      return this.fsmInfoMap[this.selectedDeviceType][this.selectedFSM];
    },
    specOfSelectedTransition() {
      if (
        this.selectedTransition === null ||
        this.currentDeviceFsmAndState.length !== 1
      ) {
        return null;
      } else {
        let result = [];
        const [state, transition] = this.selectedTransition.split("/");
        for (const [cmdId, namespace] of this.specOfSelectedFSM.states[state][
          transition
        ].commands) {
          const cmdSpec =
            this.boardDetails[this.selectedDevices[0][0]].commands[
              this.selectedDevices[0][1]
            ][cmdId];
          result.push([cmdId, cmdSpec, namespace]);
        }
        return result;
      }
    },
    tData() {
      let result = [];
      console.log(this.statusSnapshots);
      for (const x of this.statusSnapshots) {
        for (const i in x[2].commands) {
          result.push({
            rowName: i == 0 ? x[0] + " \u00BB " + x[1] : "",
            command:
              "(" +
              (Number(i) + 1) +
              "/" +
              x[2].numCommandsTotal +
              ") " +
              x[2].commands[i].path.split(".")[1],
            state: x[2].commands[i].state,
            progress: x[2].commands[i].progress,
            duration: x[2].commands[i].duration.toFixed(1) + "s",
            messages: x[2].commands[i].messages,
            result: x[2].commands[i].result,
          });
        }
      }
      return result;
    },
  },
  methods: {
    hostnameFromProxiedURL(proxiedURL) {
      return proxiedURL.split("/")[3];
    },
    downloadFileResult(aFileResult) {
      // Based on https://www.raymondcamden.com/2020/12/15/vue-quick-shot-downloading-data-as-a-file
      // which in turn was based on https://www.bitdegree.org/learn/javascript-download
      console.log("downloadFileResult: ", aFileResult);

      let element = document.createElement("a");
      element.setAttribute("href", "data:;base64," + aFileResult.contents);
      element.setAttribute("download", aFileResult.name);

      element.style.display = "none";
      document.body.appendChild(element);

      element.click();
      document.body.removeChild(element);
    },
    async fetchTransitionStatus() {
      console.log("state-machines-view: fetchTransitionStatus", new Date());

      // 1) Check the status of state machines
      let requests = [];
      for (const x of this.selectedDevices) {
        requests.push(
          axios.get(
            this.boardBaseURLs[x[0]] +
              "/fsms/" +
              x[1] +
              "/" +
              this.selectedFSM +
              "/" +
              this.selectedTransition
          )
        );
      }

      await Promise.all(requests)
        .then((results) => {
          let snapshots = [];
          for (const i in results) {
            snapshots.push([
              this.selectedDevices[i][0],
              this.selectedDevices[i][1],
              results[i].data,
            ]);
          }
          this.statusSnapshots = snapshots;
        })
        .catch((error) => {
          console.log(error);
        });

      // 2) If all transitions have finished: Stop updating the transition status info and tell parent to refresh board info
      for (const x of this.statusSnapshots) {
        if (
          x[2].state === "Initial" ||
          x[2].state === "Scheduled" ||
          x[2].state === "Running"
        ) {
          return;
        }
      }
      this.transitionsInProgress = false;
      this.cancelAutoUpdate();
      this.$emit("refreshProps");
    },
    cancelAutoUpdate() {
      console.log("state-machines-view: cancelAutoUpdate", new Date());
      clearInterval(this.timer);
    },
    onSelectType(value) {
      this.indexOfSelectedType = value;
      this.indexOfSelectedFSM = -1;
    },
    onSelectFSM(value) {
      this.indexOfSelectedFSM = value;
      this.showStatus = false;
      this.cancelAutoUpdate();
    },
    onSelectTransition() {
      console.log("onSelectTransition");
      let result = [];
      for (let i = 0; i < this.specOfSelectedTransition.length; i++) {
        result.push({});
      }
      this.params = result;
    },
    async obtainLeases(duration) {
      // Construct list of boards
      let boardIds = new Set();
      for (const x of this.selectedDevices) {
        boardIds.add(x[0]);
      }
      boardIds = Array.from(boardIds);

      // List of boards -> List of HTTP requests
      let requests = [];
      for (const x of boardIds) {
        requests.push(
          axios.put(this.boardBaseURLs[x] + "/lease/obtain", {
            supervisor: "Web UI",
            duration: duration,
          })
        );
      }

      // Send out lease requests
      let leaseTokens = {};
      await Promise.all(requests)
        .then((results) => {
          for (const i in results) {
            leaseTokens[boardIds[i]] = results[i].data.lease;
          }
        })
        .catch((error) => {
          console.log(error);
          this.leaseError = {
            message:
              "Could not obtain lease for " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
        });

      return leaseTokens;
    },
    async retireLeases(tokens) {
      // Create list of HTTP requests
      let requests = [];
      for (const x in tokens) {
        requests.push(
          axios.put(this.boardBaseURLs[x] + "/lease/retire", {
            lease: tokens[x],
          })
        );
      }

      // Log to console if any requests fail
      await Promise.all(requests).catch((error) => {
        console.log("Error occurred in retiring lease ", error);
      });

      return null;
    },
    async engageFSM() {
      this.fsmActionError = null;
      this.fsmActionProgressMessage = "Obtaining lease & engaging FSM ...";
      this.fsmActionSuccessMessage = null;

      // 1) Obtain leases
      let leaseTokens = await this.obtainLeases(10);
      if (Object.keys(leaseTokens).length === 0) {
        this.fsmActionProgressMessage = null;
        this.fsmActionError = this.leaseError;
        return;
      }

      // 2) Engage the FSM
      let requests = [];
      for (const i in this.selectedDevices) {
        let boardId = this.selectedDevices[i][0];
        let deviceId = this.selectedDevices[i][1];
        requests.push(
          axios.put(
            this.boardBaseURLs[boardId] +
              "/fsms/" +
              deviceId +
              "/" +
              this.selectedFSM +
              "/engage",
            { lease: leaseTokens[boardId] }
          )
        );
      }

      // 3) Set success/failure message for alert box
      await Promise.all(requests)
        .then(() => {
          this.fsmActionSuccessMessage = "Succesfully entered the FSM!";
        })
        .catch((error) => {
          this.fsmActionError = {
            message:
              "Error occurred when engaging FSM on " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
        });
      this.fsmActionProgressMessage = null;

      await this.retireLeases(leaseTokens);

      // 4) Tell parent to refresh board info
      this.$emit("refreshProps");
    },
    async disengageFSM() {
      this.fsmActionError = null;
      this.fsmActionProgressMessage =
        "Obtaining lease & disengaging from FSM ...";
      this.fsmActionSuccessMessage = null;

      // 1) Obtain leases
      let leaseTokens = await this.obtainLeases(10);
      if (Object.keys(leaseTokens).length === 0) {
        this.fsmActionError = this.leaseError;
        this.fsmActionProgressMessage = null;
        return;
      }

      // 2) Disengage from the FSM
      let requests = [];
      for (const i in this.selectedDevices) {
        let boardId = this.selectedDevices[i][0];
        let deviceId = this.selectedDevices[i][1];
        requests.push(
          axios.put(
            this.boardBaseURLs[boardId] +
              "/fsms/" +
              deviceId +
              "/" +
              this.selectedFSM +
              "/disengage",
            { lease: leaseTokens[boardId] }
          )
        );
      }

      // 3) Set success/failure message for alert box
      await Promise.all(requests)
        .then(() => {
          this.fsmActionSuccessMessage = "Succesfully disengaged from the FSM!";
        })
        .catch((error) => {
          this.fsmActionError = {
            message:
              "Error occurred when disengaging from FSM on " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
        });
      this.fsmActionProgressMessage = null;

      await this.retireLeases(leaseTokens);

      // 4) Tell parent to refresh board info
      this.$emit("refreshProps");
    },
    async resetFSM() {
      this.fsmActionError = null;
      this.fsmActionProgressMessage = "Obtaining lease & resetting the FSM ...";
      this.fsmActionSuccessMessage = null;

      // 1) Obtain leases
      let leaseTokens = await this.obtainLeases(10);
      if (Object.keys(leaseTokens).length === 0) {
        this.fsmActionProgressMessage = null;
        return;
      }

      // 2) Resetting the FSM
      let requests = [];
      for (const i in this.selectedDevices) {
        let boardId = this.selectedDevices[i][0];
        let deviceId = this.selectedDevices[i][1];
        requests.push(
          axios.put(
            this.boardBaseURLs[boardId] +
              "/fsms/" +
              deviceId +
              "/" +
              this.selectedFSM +
              "/reset",
            { lease: leaseTokens[boardId] }
          )
        );
      }

      // 3) Set success/failure message for alert box
      await Promise.all(requests)
        .then(() => {
          this.fsmActionSuccessMessage = "Succesfully reset the FSM!";
        })
        .catch((error) => {
          this.fsmActionError = {
            message:
              "Error occurred when resetting the FSM on " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
        });
      this.fsmActionProgressMessage = null;

      await this.retireLeases(leaseTokens);

      // 4) Tell parent to refresh board info
      this.$emit("refreshProps");
    },
    async runTransition() {
      this.transitionsInProgress = true;
      this.runTransitionError = null;
      this.showStatus = false;

      // 1) Obtain leases
      let leaseTokens = await this.obtainLeases(15);

      if (Object.keys(leaseTokens).length === 0) {
        this.transitionsInProgress = false;
        this.runTransitionError = this.leaseError;
        return;
      }

      // 2) Run the transitions
      let requests = [];
      for (const i in this.selectedDevices) {
        let boardId = this.selectedDevices[i][0];
        let deviceId = this.selectedDevices[i][1];
        requests.push(
          axios.put(
            this.boardBaseURLs[boardId] +
              "/fsms/" +
              deviceId +
              "/" +
              this.selectedFSM +
              "/" +
              this.selectedTransition,
            { lease: leaseTokens[boardId], parameters: this.params }
          )
        );
      }

      await Promise.all(requests)
        .then((results) => {
          let snapshots = [];
          for (const i in results) {
            snapshots.push([
              this.selectedDevices[i][0],
              this.selectedDevices[i][1],
              results[i].data,
            ]);
          }
          this.statusSnapshots = snapshots;
        })
        .catch((error) => {
          this.runTransitionError = {
            message:
              "Error occurred when running transition on " +
              this.hostnameFromProxiedURL(error.toJSON().config.url),
            details: error,
          };
          this.transitionsInProgress = false;
        });

      await this.retireLeases(leaseTokens);

      if (!this.transitionsInProgress) {
        return;
      }

      // 3) Enable status table, and set timer to update transition status snapshots
      this.showStatus = true;
      this.timer = setInterval(this.fetchTransitionStatus, 500);
    },
  },
};
</script>

<style scoped>
.left-aligned {
  text-align: left;
}

.left-aligned h3,
.left-aligned h4 {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
  margin-left: 20px;
  margin-right: 20px;
}

.left-aligned p {
  margin-left: 20px;
  margin-right: 20px;
}

.fsm-button-container,
.transition-select-position {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 80px;
}
.fsm-button-spacing {
  margin-left: 5px;
  margin-right: 5px;
}

.parameter-form-container {
  margin-left: 20px;
  margin-right: 20px;
}

.transition-button-alignment {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 250px;
}

.status-table-alignment {
  margin: 20px;
}

/* Defined to prevent table from overflowing containers when messages are really long */
.status-table-width {
  max-width: 100%;
}

/* Lists for selecting devices etc. scrollable if height > 350px */
ul {
  max-height: 250px;
  overflow: auto;
}

:deep(th) {
  font-weight: bold;
}

.action-status-icon-error {
  color: #ef5350;
  font-size: 1em;
}

.action-status-icon-warning {
  color: #ffa726;
  font-size: 1em;
}

.action-status-icon-good {
  color: #66bb6a;
  font-size: 1em;
}
</style>
