<template>
  <!-- REGISTRATION ERROR MESSAGE -->
  <shep-http-alert
    v-if="registrationError !== null"
    :message="registrationError.message"
    :error-details="registrationError.details"
  >
  </shep-http-alert>

  <!-- CRATES SECTION -->
  <div
    style="
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
    "
  >
    <div class="header">
      <h1>Crates</h1>
      <ui-button icon="add" raised @click="showRegistrationForm = true"
        >REGISTER ITEM</ui-button
      >
    </div>
  </div>

  <ui-table
    v-if="crates.length > 0"
    :data="crateTableData"
    :thead="crateTableHead"
    :tbody="crateTableBody"
  >
    <template #actions="{ data }">
      <ui-button icon="delete" @click="removeCrate(data.id)"></ui-button>
    </template>
  </ui-table>
  <p v-else>
    <i>No crates registered yet!</i>
  </p>

  <!-- BOARDS SECTION -->
  <div
    style="
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
    "
  >
    <div class="header">
      <h1>Boards</h1>
    </div>
  </div>

  <ui-table
    v-if="boards.length > 0"
    :data="boardTableData"
    :thead="boardTableHead"
    :tbody="boardTableBody"
  >
    <template #hostname="{ data }">
      <code>{{ data.host }}</code>
    </template>
    <template #status="{ data }">
      <template v-if="data.status">
        <ui-icon class="app-status-icon-good">check_circle</ui-icon>
        Online
      </template>
      <template v-else>
        <ui-icon class="app-status-icon-warning">warning</ui-icon>
        Not reachable!
      </template>
    </template>
    <template #actions="{ data }">
      <ui-button icon="delete" @click="removeBoard(data.id)"></ui-button>
    </template>
  </ui-table>
  <p v-else>
    <i>No boards registered yet!</i>
  </p>

  <!-- LINKS SECTION -->
  <template v-if="links.length > 0">
    <h1>Links</h1>

    <ui-table
      :data="linkTableData"
      :thead="linkTableHead"
      :tbody="linkTableBody"
    >
      <template #src_port="{ data }">
        {{ data.src_processor }}, ch {{ data.src_port }}
      </template>
      <template #src_optics="{ data }">
        <template v-if="data.src_optics !== null">
          {{ data.src_optics[0] }}, ch {{ data.src_optics[1] }}
        </template>
      </template>
      <template #dst_port="{ data }">
        {{ data.dst_processor }}, ch {{ data.dst_port }}
      </template>
      <template #dst_optics="{ data }">
        <template v-if="data.dst_optics !== null">
          {{ data.dst_optics[0] }}, ch {{ data.dst_optics[1] }}
        </template>
      </template>
      <template #actions="{ data }">
        <ui-button icon="delete" @click="removeLink(data.id)"></ui-button>
      </template>
    </ui-table>
  </template>

  <!-- REGISTRATION FORM -->
  <ui-dialog v-model="showRegistrationForm" @confirm="onSubmitRegistrationForm">
    <!-- <ui-dialog-title>Register ...</ui-dialog-title> -->
    <ui-dialog-content>
      <ui-tabs v-model="activeRegistrationFormTab" style="margin-bottom: 20px">
        <ui-tab>Crate</ui-tab>
        <ui-tab>Board</ui-tab>
        <ui-tab>Link</ui-tab>
      </ui-tabs>

      <ui-panels v-model="activeRegistrationFormTab">
        <!-- Crate registration form -->
        <ui-panel>
          <ui-form
            style="text-align: left"
            nowrap
            item-margin-bottom="12"
            label-width="80"
          >
            <template #default="{}">
              <ui-form-field>
                <label class="required">ID</label>
                <ui-textfield v-model="crateFormData.id"></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Building</label>
                <ui-textfield v-model="crateFormData.building"></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Rack</label>
                <ui-textfield v-model="crateFormData.rack"></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Height</label>
                <ui-textfield
                  v-model="crateFormData.height"
                  inputType="number"
                ></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">CSP ID</label>
                <ui-textfield
                  v-model="crateFormData.csp_id"
                  inputType="number"
                ></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label>Description</label>
                <ui-textfield
                  v-model="crateFormData.description"
                ></ui-textfield>
              </ui-form-field>
            </template>
          </ui-form>
        </ui-panel>

        <!-- Board registration form -->
        <ui-panel>
          <ui-form
            style="text-align: left"
            nowrap
            item-margin-bottom="12"
            label-width="100"
          >
            <template #default="{}">
              <ui-form-field>
                <label class="required">ID</label>
                <ui-textfield v-model="boardFormData.id"></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Crate</label>
                <ui-select
                  v-model="boardFormData.crate_id"
                  :options="availableCrates"
                >
                </ui-select>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Logical slot</label>
                <ui-textfield
                  v-model="boardFormData.slot"
                  inputType="number"
                ></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Host</label>
                <ui-textfield v-model="boardFormData.ip"></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Port</label>
                <ui-textfield
                  v-model="boardFormData.port"
                  inputType="number"
                ></ui-textfield>
              </ui-form-field>
            </template>
          </ui-form>
        </ui-panel>

        <!-- Link registration form -->
        <ui-panel>
          <ui-form
            style="text-align: left"
            nowrap
            item-margin-bottom="12"
            label-width="100"
          >
            <template #default="{}">
              <ui-form-field>
                <label class="required">ID</label>
                <ui-textfield v-model="linkFormData.id"></ui-textfield>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Source board</label>
                <ui-select
                  v-model="linkFormData.src_board_id"
                  :options="availableBoards"
                >
                </ui-select>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Source processor</label>
                <ui-select
                  v-model="linkFormData.src_processor"
                  :options="availableSrcProcessors"
                >
                </ui-select>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Source port</label>
                <ui-select
                  v-model="linkFormData.src_port"
                  :options="availableOutputPorts"
                >
                </ui-select>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Destination board</label>
                <ui-select
                  v-model="linkFormData.dst_board_id"
                  :options="availableBoards"
                >
                </ui-select>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Destination processor</label>
                <ui-select
                  v-model="linkFormData.dst_processor"
                  :options="availableDstProcessors"
                >
                </ui-select>
              </ui-form-field>
              <ui-form-field>
                <label class="required">Destination port</label>
                <ui-select
                  v-model="linkFormData.dst_port"
                  :options="availableInputPorts"
                >
                </ui-select>
              </ui-form-field>
            </template>
          </ui-form>
        </ui-panel>
      </ui-panels>
    </ui-dialog-content>
    <ui-dialog-actions
      :acceptText="
        'Add this ' + ['crate', 'board', 'link'][activeRegistrationFormTab]
      "
    ></ui-dialog-actions>
  </ui-dialog>
</template>

<script>
import axios from "axios";

import ShepHttpAlert from "../components/ShepHttpAlert.vue";

export default {
  name: "system-summary-page",
  components: { ShepHttpAlert },
  props: {
    boards: {
      type: Object,
      required: true,
    },
    boardDetails: {
      type: Object,
      required: true,
    },
    crates: {
      type: Object,
      required: true,
    },
    links: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      activeRegistrationFormTab: 0,
      boardFormData: {
        id: "",
        crate_id: "",
        slot: 0,
        ip: "",
        port: 3000,
      },
      crateFormData: {
        id: "",
        building: "",
        rack: "",
        height: 0,
        description: "",
        csp_id: 0,
      },
      linkFormData: {
        id: "",
        src_board_id: "",
        src_processor: "",
        src_port: 0,
        dst_board_id: "",
        dst_processor: "",
        dst_port: 0,
      },
      registrationError: null,
      showRegistrationForm: false,
      boardTableHead: [
        "ID",
        "Crate",
        "Log. Slot",
        "Host:Port",
        "Status",
        "Hardware type",
        "Uptime",
        "",
      ],
      boardTableBody: [
        "id",
        "crate_id",
        "slot",
        { slot: "hostname" },
        { slot: "status", align: "center" },
        { class: "font-hardware-type", field: "hardwareType", align: "center" },
        "uptime",
        { slot: "actions" },
      ],
      crateTableHead: [
        "ID",
        "Building",
        "Rack",
        "Height",
        "Description",
        "CSP ID",
        "",
      ],
      crateTableBody: [
        "id",
        "building",
        "rack",
        "height",
        "description",
        "csp_id",
        { slot: "actions" },
      ],
      linkTableHead: [
        "ID",
        "Source board",
        "FPGA port",
        "Optics",
        "Destination board",
        "FPGA port",
        "Optics",
        "",
      ],
      linkTableBody: [
        "id",
        "src_board_id",
        { slot: "src_port" },
        { slot: "src_optics" },
        "dst_board_id",
        { slot: "dst_port" },
        { slot: "dst_optics" },
        { slot: "actions" },
      ],
    };
  },
  emits: ["refreshProps"],
  computed: {
    boardTableData() {
      let result = [];
      for (const board of this.boards) {
        let rowData = {
          id: board.id,
          crate_id: board.crate_id,
          slot: board.slot,
          host: board.ip + ":" + board.port.toString(),
          status: false,
          hardwareType: "",
          uptime: "",
        };

        if (this.boardDetails[board.id] !== null) {
          rowData.status = true;
          rowData.hardwareType = this.boardDetails[board.id].app.hardwareType;
          rowData.uptime =
            this.boardDetails[board.id].app.uptime.toFixed(0) + " seconds";
        }

        result.push(rowData);
      }
      return result;
    },
    crateTableData() {
      let result = [];
      for (const crate of this.crates) {
        let rowData = crate;
        result.push(rowData);
      }
      return result;
    },
    linkTableData() {
      let result = [];
      for (const link of this.links) {
        let rowData = {};
        rowData.id = link.id;
        rowData.src_board_id = link.src_board_id;
        rowData.src_processor = link.src_processor;
        rowData.src_port = link.src_port;
        rowData.src_optics = this.getLinkSrcOptics(link);
        rowData.dst_board_id = link.dst_board_id;
        rowData.dst_processor = link.dst_processor;
        rowData.dst_port = link.dst_port;
        rowData.dst_optics = this.getLinkDstOptics(link);

        result.push(rowData);
      }
      return result;
    },
    availableCrates() {
      let result = [];
      for (const crate of this.crates) {
        result.push({
          label: crate.id,
          value: crate.id,
        });
      }
      return result;
    },
    availableBoards() {
      let result = [];
      for (const board of this.boards) {
        result.push({
          label: board.id,
          value: board.id,
        });
      }
      return result;
    },
    availableSrcProcessors() {
      const board_id = this.linkFormData.src_board_id;
      if (
        board_id in this.boardDetails &&
        this.boardDetails[board_id] !== null
      ) {
        let result = [];
        for (const procId in this.boardDetails[board_id].devices.processors) {
          result.push({
            label: procId,
            value: procId,
          });
        }
        return result;
      } else {
        return [];
      }
    },
    availableDstProcessors() {
      const board_id = this.linkFormData.dst_board_id;
      if (
        board_id in this.boardDetails &&
        this.boardDetails[board_id] !== null
      ) {
        let result = [];
        for (const procId in this.boardDetails[board_id].devices.processors) {
          result.push({
            label: procId,
            value: procId,
          });
        }
        return result;
      } else {
        return [];
      }
    },
    availableOutputPorts() {
      const boardInfo = this.boardDetails[this.linkFormData.src_board_id];
      if (boardInfo) {
        const procInfo =
          boardInfo.devices.processors[this.linkFormData.src_processor];
        if (procInfo) {
          let result = [];
          for (const portId in procInfo.outputs) {
            result.push({
              label: portId,
              value: procInfo.outputs[portId].index,
            });
          }

          result.sort((a, b) => {
            return a.value - b.value;
          });
          return result;
        }
      }

      return [];
    },
    availableInputPorts() {
      const boardInfo = this.boardDetails[this.linkFormData.dst_board_id];
      if (boardInfo) {
        const procInfo =
          boardInfo.devices.processors[this.linkFormData.dst_processor];
        if (procInfo) {
          let result = [];
          for (const portId in procInfo.inputs) {
            result.push({
              label: portId,
              value: procInfo.inputs[portId].index,
            });
          }

          result.sort((a, b) => {
            return a.value - b.value;
          });
          return result;
        }
      }

      return [];
    },
  },
  methods: {
    async onSubmitRegistrationForm(result) {
      // TAB 0: CRATE REGISTRATION
      if (this.activeRegistrationFormTab === 0) {
        if (result) {
          console.log(new Date(), "Adding crate: ", this.boardFormData);
          await axios
            .post("/api/crates/", this.crateFormData)
            .catch((error) => {
              this.registrationError = {
                message:
                  'Could not register crate "' + this.crateFormData.id + '"',
                requestData: this.crateFormData,
                details: error,
              };
            });
        }
        this.resetCrateFormData();
      } else if (this.activeRegistrationFormTab === 1) {
        // TAB 1: BOARD REGISTRATION
        if (result) {
          console.log(new Date(), "Adding board: ", this.boardFormData);
          await axios
            .post("/api/boards/", this.boardFormData)
            .catch((error) => {
              this.registrationError = {
                message:
                  'Could not register board "' + this.boardFormData.id + '"',
                requestData: this.boardFormData,
                details: error,
              };
            });
        }
        this.resetBoardFormData();
        this.$emit("refreshProps");
      } else if (this.activeRegistrationFormTab === 2) {
        // TAB 2: LINK REGISTRATION
        if (result) {
          console.log(new Date(), "Adding link: ", this.linkFormData);
          await axios.post("/api/links/", this.linkFormData).catch((error) => {
            this.registrationError = {
              message: 'Could not register link "' + this.linkFormData.id + '"',
              requestData: this.linkFormData,
              details: error,
            };
          });
        }
        this.resetBoardFormData();
        this.$emit("refreshProps");
      }
    },
    removeBoard(id) {
      axios.delete("/api/boards/" + id + "/");
      this.$emit("refreshProps");
    },
    removeCrate(id) {
      axios.delete("/api/crates/" + id + "/");
      this.$emit("refreshProps");
    },
    removeLink(id) {
      axios.delete("/api/links/" + id + "/");
      this.$emit("refreshProps");
    },
    resetBoardFormData() {
      this.boardFormData = {
        id: "",
        crate_id: this.boardFormData.crate_id,
        slot: 0,
        ip: "",
        port: 3000,
      };
    },
    resetCrateFormData() {
      this.crateFormData = {
        id: "",
        building: "",
        rack: "",
        height: 0,
        description: "",
        csp_id: 0,
      };
    },
    resetLinkFormData() {
      this.linkFormData = {
        id: "",
        src_board_id: this.linkFormData.src_board_id,
        src_processor: this.linkFormData.src_processor,
        src_port: this.linkFormData.src_port,
        dst_board_id: this.linkFormData.dst_board_id,
        dst_processor: this.linkFormData.dst_processor,
        dst_port: this.linkFormData.dst_port,
      };
    },
    getLinkSrcOptics(link) {
      const boardInfo = this.boardDetails[link.src_board_id];
      if (!boardInfo) {
        return null;
      }

      const procInfo = boardInfo.devices.processors[link.src_processor];
      if (!procInfo) {
        return null;
      }

      for (const portId in procInfo.outputs) {
        if (procInfo.outputs[portId].index === link.src_port) {
          return procInfo.outputs[portId].connectedObject.slice(1);
        }
      }

      return null;
    },
    getLinkDstOptics(link) {
      const boardInfo = this.boardDetails[link.dst_board_id];
      if (!boardInfo) {
        return null;
      }

      const procInfo = boardInfo.devices.processors[link.dst_processor];
      if (!procInfo) {
        return null;
      }

      for (const portId in procInfo.inputs) {
        if (procInfo.inputs[portId].index === link.dst_port) {
          return procInfo.inputs[portId].connectedObject.slice(1);
        }
      }

      return null;
    },
  },
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.header h1 {
  text-align: center;
}

.header button {
  margin-top: 20px;
  position: absolute;
  right: 0;
}

.app-status-icon-warning {
  color: #ffa726;
  font-size: 1em;
}

.app-status-icon-good {
  color: #66bb6a;
  font-size: 1em;
}

:deep(.font-hardware-type) {
  font-variant: small-caps;
}

:deep(th) {
  font-weight: bold;
  text-align: center;
}
</style>
